	{{template "header_zh"}}
		<title>Go Walker - Go 项目 API 文档与源码浏览</title>
	</head>

	<body id="body">
		{{template "navbar_zh" .}}
		<div class="container">
			<div>
				{{template "alert_zh" .}}
                <div class="page-header">
                    <h2 style="margin-top: 0">
                        搜索 Go 项目.
                        <small>开源，让世界更和谐.</small>
                        <g:plusone></g:plusone>
                    </h2>

               		<form class="form-inline" action="/">
                		<div class="form-group col-md-6">
                        	<input autocomplete="off" class="form-control" type="text" placeholder="请输入项目路径来添加并浏览文档或使用关键字进行搜索" name="q" data-source="[{{str2html .GoReposSrc}}]" data-items="10" data-provide="typeahead">
                        </div>
                        <button class="btn btn-success btn-lg" style="border-radius: 0px;" type="submit"><i class="icon-search"></i> 手气不错</button>
                    </form>
                </div>
            </div>

			<div class="row">
				<div class="col-xs-8 col-md-8">
					<div>
						<h4><b>超凡体验，您值得拥有.</b></h4>
						<p>
							Go Walker 服务器可以在线生成并浏览 <a target="_blank" href="http://docs.studygolang.com/">Go</a> 项目 API 文档及
							<button class="btn feature" title=""
							        data-content="黑客视图允许您不需要进行任何安装操作即可学习研究任何 Go 项目，同时提供 '跳转到定义' 和 '寻找用例' 等超强特性。"
							        data-placement="top" data-toggle="popover" data-original-title="黑客视图">黑客视图</button>
							，目前已支持包括 <b><a target="_blank" href="https://bitbucket.org/">Bitbucket</a></b>、<b><a target="_blank" href="https://github.com/">GitHub</a></b>、<b><a target="_blank" href="http://code.google.com/">Google Code</a></b>、<b><a target="_blank" href="https://launchpad.net/">Launchpad</a></b>、<b><a target="_blank" href="https://gitcafe.com/">GitCafe</a></b>  和 <b><a target="_blank" href="http://git.oschina.net/">Git @ OSC</a></b> 在内的六大代码托管平台。
						</p>

						<p>
							经典绝伦的特性包括
							<button class="btn feature" title="" data-content="在相同页面快速查看高亮渲染后的函数或方法的代码，减少页面占用，可以同时做更多的工作。" data-placement="bottom" data-toggle="popover" data-original-title="查看代码">查看代码</button>

							<button class="btn feature" title="" data-content="快速跳转至函数、方法或类型所以在项目的文档页面，节省您的宝贵时间。" data-placement="top" data-toggle="popover" data-original-title="链接跳转">链接跳转</button>

							<button class="btn feature" title="" data-content="通过 Github Gist 来为您喜爱的文档添加示例，更好地展示给更多人。" data-placement="bottom" data-toggle="popover" data-original-title="增加示例">增加示例</button>

							<button class="btn feature" title="" data-content="不必再为使用旧版的库而烦恼，现在您可以查看任意 Tag 版本的项目文档喔！" data-placement="right" data-toggle="popover" data-original-title="文档标签">文档标签</button>

							以及 <a target="_blank" href="http://git.oschina.net/Unknown/gowalker/wikis/Features">更多</a>。
						</p>
						
						<p class="text-success">
							如果您想了解如何更好地提升 Go Walker 操作体验及更多，请仔细阅读  <a href="/about">关于</a> 页面。
						</p>
					</div>

					<div class="tab-content">
					    <div id="global_history" class="tab-pane fade active in">
					        <h4>
					            <b>所有人正在关注的项目.</b>
					            <a href="#user_history" class="btn btn-inverse" data-toggle="tab">本地历史</a>
					            <small class="text-info">鼠标悬浮链接以查看更多.</small>
					        </h4>

					        <table name="recent_table" class="table table-bordered table-hover">
					            <thead>
					                <tr>
					                    <th>项目路径</th>
										<th>浏览时间（本地）</th>
					                </tr>
					            </thead>

					            <tbody>
						            {{range .GlobalHistory}}
						            {{template "history_table_zh" .}}
						            {{end}}
					            </tbody>
					        </table>
					    </div>

					    <div id="user_history" class="tab-pane fade">
					        <h4>
					            <b>您最近关注的项目.</b>
					            <a href="#global_history" class="btn btn-inverse" data-toggle="tab">全局历史</a>
					            <small class="text-info">鼠标悬浮链接以查看更多.</small>
					        </h4>

					        <table name="recent_table" class="table table-bordered table-hover">
					            <thead>
					                <tr>
					                    <th>项目路径</th>
										<th>浏览时间（本地）</th>
					                </tr>
					            </thead>

					            <tbody>
						            {{range .UserHistory}}
						            {{template "history_table_zh" .}}
						            {{end}}
					            </tbody>
					        </table>
					    </div>
					</div>
                </div>

				<div class="col-xs-4 col-md-4" style="padding-left: 5px;">
					<div>
						<h4><b>最新公告</b></h4>
						<p>
							您是否仍在为查看某个 Go 项目的函数或方法而不得不将其下载并安装到本地？我知道您一直在承受这种痛苦，直到今天您发现 <b>黑客视图</b> 为止！
						</p>
						<a class="btn btn-primary" target="_blank" href="http://git.oschina.net/Unknown/gowalker/wikis/Features">了解更多</a>
					</div>

					<div>
						<h4><b>热门项目</b></h4>
                        <ul class="nav nav-tabs nav-tabs-google">
                            <li class="active">
                                <a href="#weekly_stars" data-toggle="tab">本周之星</a>
                            </li>

                            <li>
                                <a href="#top_rank" data-toggle="tab">总排名值</a>
                            </li>

                            <li>
                                <a href="#top_views" data-toggle="tab">总浏览量</a>
                            </li>
                        </ul>

                        <div class="tab-content" style="padding-top: 10px;">
                            <div id="weekly_stars" class="tab-pane fade active in">
                                <ul name="pop_list" class="unstyled">
                                    {{$newLine := str2html "\n"}}
                                    {{range .WeeklyStarPros}}
                                    <li>
                                        <span class="badge badge-success">{{.Rank}}</span>
                                        <a title="被引用：{{.RefProNum}}/{{.RefNum}}  排名值：{{.Rank}}  浏览数：{{.Views}}{{$newLine}}问题：{{.Issues}}  称赞：{{.Stars}}  派生{{.Forks}}{{$newLine}}简介：{{.Synopsis}}" href="/{{.Path}}">{{.Path}}</a>
                                    </li>
                                    {{end}}
                                </ul>
                            </div>

                            <div id="top_rank" class="tab-pane fade">
                                <ul name="pop_list" class="unstyled">
                                    {{range .TopRankPros}}
                                    <li>
                                        <span class="badge badge-inverse">{{.Rank}}</span>
                                        <a title="被引用：{{.RefProNum}}/{{.RefNum}}  排名值：{{.Rank}}  浏览数：{{.Views}}{{$newLine}}问题：{{.Issues}}  称赞：{{.Stars}}  派生{{.Forks}}{{$newLine}}简介：{{.Synopsis}}" href="/{{.Path}}">{{.Path}}</a>
                                    </li>
                                    {{end}}
                                </ul>
                            </div>

                            <div id="top_views" class="tab-pane fade">
                                <ul name="pop_list" class="unstyled">
                                    {{range .TopViewsPros}}
                                    <li>
                                        <span class="badge">{{.Views}}</span>
                                        <a title="被引用：{{.RefProNum}}/{{.RefNum}}  排名值：{{.Rank}}  浏览数：{{.Views}}{{$newLine}}问题：{{.Issues}}  称赞：{{.Stars}}  派生{{.Forks}}{{$newLine}}简介：{{.Synopsis}}" href="/{{.Path}}">{{.Path}}</a>
                                    </li>
                                    {{end}}
                                </ul>
                            </div>
                        </div>
					</div>

					<div>
						<h4><b>最近更新示例</b></h4>
                        <ul name="pop_list" class="unstyled">
                            {{range .RecentExams}}
                            <li>
                                <a href="/{{.Path}}">{{.Path}}</a>
                            </li>
                            {{end}}
                        </ul>
					</div>

				    {{template "home_js"}}
					
					<div>
						<h4><b>探索更多.</b></h4>
                        <ul class="nav nav-tabs nav-tabs-google">
                            <li class="active">
                                <a href="#more_projects" data-toggle="tab">项目</a>
                            </li>

                            <li>
                                <a href="#more_sites" data-toggle="tab">站点</a>
                            </li>
                        </ul>

                        <div class="tab-content" style="padding-top: 10px;">
                            <div id="more_projects" class="tab-pane fade active in">
                                <ul class="unstyled">
                                    <li>
                                    	<a href="/index">Index</a>
                                    	- 涵盖所有内容
                                    </li>

                                    <li>
                                    	<a href="/index/gorepos">Go 标准库</a>
                                    </li>

                                    <li>
                                    	<a href="/index/gosubrepos">Go 官方维护库</a>
                                    	- 由 Go 团队开发
                                    </li>

                                    <li>
                                    	<a target="_blank" href="https://code.google.com/p/go-wiki/wiki/Projects">Projects @ go-wiki</a>
                                    </li>
                                </ul>
                            </div>

                            <div id="more_sites" class="tab-pane fade">
                                <ul class="unstyled">
                                    <li>
                                    	<a target="_blank" href="http://bbs.beego.me">Beego Community</a>
                                    </li>

                                    <li>
                                    	<a target="_blank" href="https://gobyexample.com/">Go by Example</a>
                                    </li>

                                    <li>
                                    	<a target="_blank" href="http://golangtc.com">Golang 中国</a>
                                    	－ Go 语言交流学习论坛
                                    </li>

                                    <li>
                                    	<a target="_blank" href="http://sudochina.com">速动中国</a>
                                    	- Go 语言技术分享博客站
                                    </li>
                                </ul>
                            </div>
                        </div>
					</div>
				</div>
            </div>
        </div>
        {{template "footer_zh" .}}
	</body>
</html>

{{define "history_table_zh"}}
{{$newLine := str2html "\n"}}
<tr>
    <td>
        <a title="被引用：{{.RefProNum}}/{{.RefNum}}  排名值：{{.Rank}}  浏览数：{{.Views}}{{$newLine}}问题：{{.Issues}}  称赞：{{.Stars}}  派生{{.Forks}}{{$newLine}}简介：{{.Synopsis}}" href="/{{.Path}}">{{.Path}}</a>

        {{if .IsGoRepo}}
        <span class="label label-info">标准库</span>
        {{end}}        
        {{if .IsGoSubrepo}}
        <span class="label label-info">官方</span>
        {{end}}
    </td>

    <td>{{.ViewedTime}}</td>
</tr>
{{end}}