# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Log and database folders
log/
data/
gw-server/static/docs/
gw-server/packer
gw-server/repos
.idea/

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.exe~
.DS_Store
gw-server/gw-server
gw-local/gw-local
gw-admin/gw-admin
app.ini
bee
