<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="shortcut icon" href="/img/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="Unknwon" />
		<meta name="description" content="{% if PkgDesc %}{{PkgDesc}}{% else %}Go Walker is a server that generates Go projects API documentation on the fly.{% endif %}" />
		<meta name="keywords" content="{{Tr(Lang, "head_keywords")}}">
		<title>{% block title %}{{Title}} - Go Walker{% endblock %}</title>

		<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css?v={{AppVer}}">
		<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<link href="/css/gowalker.min.css?v={{AppVer}}" rel="stylesheet" />

		<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="/js/gowalker.js?v={{AppVer}}"></script>
	</head>
	<body>
		<noscript>Please enable JavaScript in your browser!</noscript>
		<div class="container">
			<div class="columns">
				<div class="column col-lg-12 col-10 col-mr-auto col-ml-auto">
					<header class="navbar pt-2">
						<section class="navbar-section">
							<a href="/" class="btn btn-link {% if PageIsHome %}active{% endif %}">{{Tr(Lang, "home")}}</a>
							<a href="#help-panel" class="btn btn-link">{{Tr(Lang, "help")}}</a>
						</section>
						<section class="navbar-center">
							<a href="/"><img src="/img/favicon.png" alt="Logo" height="36"></a>
						</section>
						<section class="navbar-section">
							<a target="_blank" href="https://twitter.com/jc_unknwon" class="btn btn-link">Twitter</a>
							<a target="_blank" href="https://github.com/Unknwon/gowalker" class="btn btn-link">GitHub</a>
						</section>
					</header>
				</div>

				<div class="column col-12">
					<div class="divider"></div>
				</div>

				<div class="column col-lg-12 col-10 col-mr-auto col-ml-auto">
					{% if Flash.ErrorMsg %}
					<div class="toast toast-error">
						<h6>{{Tr(Lang, "form.flash_error_title")}}</h6>
						<p>{{Flash.ErrorMsg|safe}}</p>
					</div>
					{% endif %}
					{% if Flash.InfoMsg %}
					<div class="toast">
						{% if InfoHeader %}
							<h6>{{InfoHeader}}</h6>
						{% endif %}
						{{Flash.InfoMsg|safe}}
					</div>
					{% endif %}
					{% if Flash.SuccessMsg %}
					<div class="toast toast-success">
						{% if InfoHeader %}
							<h6>{{SuccessHeader}}</h6>
						{% endif %}
						{{Flash.SuccessMsg|safe}}
					</div>
					{% endif %}

					{% block body %}{% endblock %}
				</div>

				<footer class="column col-12 bg-gray p-2 text-center">
					<div class="columns">
						<div class="column col-xs-12 col-8 p-2">
							{% if Lang == "zh-CN" %}
								网站由 <a target="_blank" href="https://github.com/Unknwon">@Unknwon</a> 建设，并由 <a target="_blank" href="/gopkg.in/macaron.v1">Macaron</a> 和 <a target="_blank" href="/github.com/go-xorm/xorm">Xorm</a> 提供动力。<br>
								请到 <a target="_blank" href="https://github.com/Unknwon/gowalker/issues">GitHub</a> 给我们发送反馈信息。
							{% else %}
								Website built by <a target="_blank" href="https://github.com/Unknwon">@Unknwon</a>. Powered by <a target="_blank" href="/gopkg.in/macaron.v1">Macaron</a> and <a target="_blank" href="/github.com/go-xorm/xorm">Xorm</a>. <br>
								Send us feedback on <a target="_blank" href="https://github.com/Unknwon/gowalker/issues">GitHub</a>.
							{% endif %}
							<br>
							<a href="{{Link}}?lang=en-US">English</a> |
							<a href="{{Link}}?lang=zh-CN">简体中文</a>
							<br>
							Copyright © {{Year}} Go Walker
						</div>
						<div class="column col-xs-12 col-4 p-2 mt-2">
							<a target="_blank" href="https://m.do.co/c/5aeb02268b55">
								<img src="/img/digitalocean.png" alt="DigitalOcean" height="48">
							</a>
						</div>
					</div>
				</footer>
			</div>
		</div>

		<div class="modal" id="help-panel">
			<a href="#close" class="modal-overlay" aria-label="Close"></a>
			<div class="modal-container">
				<div class="modal-header">
					<a href="#close" class="btn btn-clear float-right" aria-label="Close"></a>
					<div class="modal-title h5">{{Tr(Lang, "help.title")}}</div>
				</div>
				<div class="modal-body">
					<div class="content">
						<p>{{Tr(Lang, "help.desc")}}</p>
						<table class="ui table">
								<thead>
									<th width="30%">{{Tr(Lang, "help.shortcut")}}</th>
									<th width="70%">{{Tr(Lang, "help.usage")}}</th>
								</thead>
								{% if Lang=="zh-CN" %}
								<tbody>
									<tr>
										<td>
											<b>?</b>
										</td>
										<td>
											显示控制面板
										</td>
									</tr>
									<tr {% if not PageIsDocs%}class="text-secondary"{% endif %}>
										<td>
											<b>s</b>
										</td>
										<td>
											搜索导出对象（文档页面）
										</td>
									</tr>
									<tr>
										<td>
											<b>g</b> + <b>g</b>
										</td>
										<td>
											跳转至顶部
										</td>
									</tr>
									<tr>
										<td>
											<b>g</b> + <b>b</b>
										</td>
										<td>
											跳转至底部
										</td>
									</tr>
								</tbody>
								{% else %}
								<tbody>
									<tr>
										<td>
											<b>?</b>
										</td>
										<td>
											Show control panel
										</td>
									</tr>
									<tr {% if not PageIsDocs%}class="text-secondary"{% endif %}>
										<td>
											<b>s</b>
										</td>
										<td>
											Show search exports panel(Documentation page)
										</td>
									</tr>
									<tr>
										<td>
											<b>g</b> + <b>g</b>
										</td>
										<td>
											Go to top of page
										</td>
									</tr>
									<tr>
										<td>
											<b>g</b> + <b>b</b>
										</td>
										<td>
											Go to bottom of page
										</td>
									</tr>
								</tbody>
								{% endif %}
						</table>
					</div>
				</div>
			</div>
		</div>

		{% if ProdMode %}
			<script>
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

				ga('create', 'UA-40109089-2', 'gowalker.org');
				ga('send', 'pageview');
			</script>
		{% endif %}
	</body>
</html>