<div class="pre-footer"></div>
<footer id="_bottom">
	<div class="container">
		<p><b>Copyright © 2014 Go Walker</b></p>
		{{if eq .Lang "zh-CN"}}
		<p>网站由 <i class="user icon"></i><a target="_blank" href="https://github.com/Unknwon">@Unknwon</a> 建设。基于 <a target="_blank" href="http://gowalker.org/github.com/Unknwon/macaron">Macaron</a> 和 <a target="_blank" href="http://gowalker.org/github.com/go-xorm/xorm">Xorm</a>。</p>
		<p>请给 <i class="mail icon"></i><a href="mailto:joe2010xtmf#163.com">我们</a> 发送反馈信息或提交 <i class="tasks icon"></i><a target="_blank" href="https://github.com/Unknwon/gowalker/issues">网站问题</a>。<strong>语言选项：</strong><a href="{{.Link}}?lang=zh-CN">简体中文</a> | <a href="{{.Link}}?lang=en-US">English</a></p>
		{{else}}
		<p>Website built by <i class="user icon"></i><a target="_blank" href="https://github.com/Unknwon">@Unknwon</a>. Powered by <a target="_blank" href="http://gowalker.org/github.com/Unknwon/macaron">Macaron</a> and <a target="_blank" href="http://gowalker.org/github.com/go-xorm/xorm">Xorm</a>.</p>
		<p>Send us <i class="mail icon"></i><a href="mailto:joe2010xtmf#163.com">Feedback</a> or submit <i class="tasks icon"></i><a target="_blank" href="https://github.com/Unknwon/gowalker/issues">Website Issues</a>. <strong>Language:</strong> <a href="{{.Link}}?lang=zh-CN">简体中文</a> | <a href="{{.Link}}?lang=en-US">English</a></p>
		{{end}}
	</div>
</footer>