<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" href="/img/favicon.ico" />
<meta name="author" content="Unknwon" />
<meta name="description" content="{{if not .PkgDesc}}{{.i18n.Tr "head_desc"}}{{else}}{{.PkgDesc}}{{end}}" />
<meta name="keywords" content="{{.i18n.Tr "head_keywords"}}">

 <!-- Stylesheets -->
<link href="/css/semantic.min.css" rel="stylesheet" />
<!-- <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"> -->
<!-- <link href="/css/link.css" rel="stylesheet" /> -->
<link href="/css/gowalker.css" rel="stylesheet" />

<script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/js/semantic.min.js"></script>
<script type="text/javascript" src="/js/gowalker.js"></script>