<div class="ui blue inverted menu" id="navbar">
	<div class="container">
		<a class="item" href="/">
			Go Walker
		</a>
		<a class="item" href="/index">
			<i class="browser icon"></i> {{.i18n.Tr "index"}}
		</a>
		<a class="item" href="/api/docs">
			<i class="cloud icon"></i> {{.i18n.Tr "api_service"}}
		</a>
		<a class="item" href="/about">
			<i class="info icon"></i> {{.i18n.Tr "about"}}
		</a>
		<div class="right menu">
			<div class="item">
				<div class="ui icon input">
					<form action="/search">
						<input name="q" placeholder="{{.i18n.Tr "search"}}...">
					</form>
					<i class="search link icon"></i>
				</div>
			</div>
		</div>
	</div>
</div>