		<title>Go Walker について</title>
	</head>

	<body>
		<div class="container">
			{{template "navbar_ja"}}

			<h1>About</h1>
			<p>Go Walker は、<a target="_blank" href="https://bitbucket.org/">Bitbucket</a>、<a target="_blank" href="https://github.com/">Github</a>、<a target="_blank" href="https://launchpad.net/">Launchpad</a>、そして、<a target="_blank" href="http://code.google.com/hosting/">Google Project Hosting</a> 上にある <a target="_blank" href="http://golang.org/">Go</a> プロジェクトのドキュメントを表示します。</p>
			<p>Go Walker 自体のソースコードは、<a target="_blank" href="https://github.com/Unknwon/gowalker">Github</a>上にあります。</p>

			<h4 id="howto">Go Walker へプロジェクトを追加するには</h4> 
			<p>Go WalkerはGoのソースコードからドキュメントを生成します。<a href="http://golang.org/cmd/godoc/">godoc</a> ツール用に記述するドキュメントの <a target="_blank" href="http://golang.org/doc/articles/godoc_documenting_go_code.html">ガイドライン</a> が、プロジェクトのパッケージ間の関係を表すためにGo Walkerへ適用されます。</p>
			<p>パッケージの最初に、パッケージの要約を記述しておくことが重要です。Go Walkerは、プロジェクトの一覧でその最初の文章を表示します。</p>
			<p>Go Walkerへプロジェクトを追加するには、importパス名でプロジェクトを <a href="/">search</a> から検索します。もしGo Walkerにプロジェクトのドキュメントが無ければ、Go Walkerは自動的にリポジトリへソースコードを取りに行き、ドキュメントを追加します。追加には5秒程度要します。</p>
			<p>Go Walkerはパッケージのアップデートを毎日確認します。すぐにドキュメントを更新したいなら、パッケージドキュメントの最下部にあるRefreshリンクをクリックしてください。</p>

			<h4 id="remove">Go Walker からパッケージを削除するには</h4>
			<p>Go Walkerは、パッケージのアップデートを確認する際、リポジトリ上からパッケージが削除されていると自動的にドキュメントを削除します。すぐにドキュメントを削除したいなら、パッケージドキュメントの最下部にあるRefleshリンクをクリックしてください。だたし、他のパッケージとの依存がある場合は削除されないことに注意してください。</p>
			<p>もし、Go Walkerへあなたのパッケージのドキュメントを表示して欲しくないような場合は、削除したいパッケージの import パスと一緒にIssueを登録してください。</p>

			<h4 id="control_panel">キーボードショートカット</h4>
			<p>Go Walker がパッケージのドキュメントページをナビゲートするためのキーボードショートカットを持っています。型'？'ヘルプのパッケージページ. ありがとうございました <a target="_blank" href="http://www.lavachen.cn">chenwenli</a>。</p>

			<h4 id="tags">Add or remove tags for your project</h4> 
			<p>Like we show the different categories in <a href="/index">Index</a> page, you can also label your project by appending tags to URL or press <code>g + t</code> to call control panel in documentation page. For example, Qbs is a ORM, so to lable it by typing <a target="_blank" href="/github.com/coocood/qbs:tag=orm" class="label label-inverse">github.com/coocood/qbs:tag=orm</a> in the search box, or just visit <a target="_blank" href="/github.com/coocood/qbs:tag=orm">gowalker.org/github.com/coocood/qbs:tag=orm</a>, and use <span class="label label-inverse">:rtag=</span> to remove tags from your project.

			<h4>翻訳のお手伝い</h4> 
			<p>Go Walker はいくつかの言語での表示をサポートしています。github にある"view"ディレクトリにある html を翻訳してpull request して頂けると幸いです。</p>

			<h4>フィードバック</h4> 
			<p>アイディア、リクエストや質問は joe2010xtmf#163.com (#は@へ置換してください)へお願いします。バグの報告は <a target="_blank" href="https://github.com/Unknwon/gowalker/issues">Github Issue Tracker</a> へお願いします。ディスカッションへの参加は <a target="_blank" href="https://groups.google.com/d/forum/gowalker">Go Walker group</a> へどうぞ。</p>

			<h4>ブックマークレット</h4>
			<p>Go Walker の <a target="_brank" href="http://ja.wikipedia.org/wiki/%E3%83%96%E3%83%83%E3%82%AF%E3%83%9E%E3%83%BC%E3%82%AF%E3%83%AC%E3%83%83%E3%83%88">ブックマークレット</a> は、 Bitbucket, Github, Launchpad, Google Project Hosting のドキュメントへ辿れます。ブックマークレットをインストールするには、次のリンクをブックマークバーへドラックしてみてください：<a  target="_blank" href="javascript:window.location='http://gowalker.org/'+encodeURIComponent(window.location)">Go Walker</a></p>
