		<title>Go Walker について</title>
	</head>

	<body>
		<div class="container">
			<div class="navbar" style="margin-top: 20px">
				<div class="navbar-inner">
					<a class="brand" href="/">Go Walker</a>
					<ul class="nav">
						<li><a href="/">ホーム</a></li>
						<li><a href="/index">索引の</a></li>
						<li class="active"><a href="/about">助け</a></li>
					</ul>
					<form class="navbar-search pull-right" action="/">
						<input class="search-query" type="text" placeholder="Search" autofocus="autofocus"  name="q"></input>
					</form>
				</div>
			</div>

			<h1>助け</h1>
			<p>Go Walker は、<a target="_blank" href="https://bitbucket.org/">Bitbucket</a>、<a target="_blank" href="https://github.com/">Github</a>、<a target="_blank" href="https://launchpad.net/">Launchpad</a>、そして、<a target="_blank" href="http://code.google.com/hosting/">Google Project Hosting</a> 上にある <a target="_blank" href="http://golang.org/">Go</a> プロジェクトのドキュメントを表示します。</p>
			<p>Go Walker 自体のソースコードは、<a target="_blank" href="https://github.com/Unknwon/gowalker">Github</a>上にあります。</p>

			<h4 id="howto">Go Walkerへプロジェクトを追加するには</h4> 
			<p>Go WalkerはGoのソースコードからドキュメントを生成します。<a href="http://golang.org/cmd/godoc/">godoc</a> ツール用に記述するドキュメントの <a target="_blank" href="http://golang.org/doc/articles/godoc_documenting_go_code.html">ガイドライン</a> が、プロジェクトのパッケージ間の関係を表すためにGo Walkerへ適用されます。</p>
			<p>パッケージの最初に、パッケージの要約を記述しておくことが重要です。Go Walkerは、プロジェクトの一覧でその最初の文章を表示します。</p>
			<p>Go Walkerへプロジェクトを追加するには、importパス名でプロジェクトを <a href="/">search</a> から検索します。もしGo Walkerにプロジェクトのドキュメントが無ければ、Go Walkerは自動的にリポジトリへソースコードを取りに行き、ドキュメントを追加します。追加には5秒程度要します。</p>
			<p>Go Walkerはパッケージのアップデートを毎日確認します。すぐにドキュメントを更新したいなら、パッケージドキュメントの最下部にあるRefreshリンクをクリックしてください。</p>

			<!--
			<h4>Multi-language Documentation</h4>
			<p>Go Walker supports more than one language for your source code documentation, and you don't need to change anything you've done so far, it automatically changes documentation language when user change the language option in the bottom of the page. If you want to use this feature, see <a target="_blank" href="#">Multi-language Documentation Support</a>.</p>
			-->

			<h4 id="remove">Go Walker からパッケージを削除するには</h4>
			<p>Go Walkerは、パッケージのアップデートを確認する際、リポジトリ上からパッケージが削除されていると自動的にドキュメントを削除します。すぐにドキュメントを削除したいなら、パッケージドキュメントの最下部にあるRefleshリンクをクリックしてください。だたし、他のパッケージとの依存がある場合は削除されないことに注意してください。</p>
			<p>もし、Go Walkerへあなたのパッケージのドキュメントを表示して欲しくないような場合は、削除したいパッケージの import パスと一緒にIssueを登録してください。</p>

			<h4>タグの追加</h4> 
			<p><a href="/index">索引の</a> ページでは異なるカテゴリでも表示します。URLの最後にタグを追加することでタグ付けすることができます。たとえば、Qbsパッケージは"ORM"(タグについては後述)ですので、<a target="_blank" href="/github.com/coocood/qbs:tag=orm" class="label label-inverse">github.com/coocood/qbs:tag=orm</a> をSearchボックスへ入れるか、直接<a target="_blank" href="/github.com/coocood/qbs:tag=orm">gowalker.org/github.com/coocood/qbs:tag=orm</a> へアクセスします。また、<span class="label label-inverse">:rtag=</span> を使うことでタグをプロジェクトから取り消すことができます。現在、"<b>wf</b>"(<span class="label label-inverse">Web Framework</span>)、"<b>orm</b>"(<span class="label label-inverse">Object Relation Mapping</span>)、"<b>dbd</b>" (<span class="label label-inverse">Database Driver</span>)、"<b>gui</b>"(<span class="label label-inverse">Graphic User Interface</span>)、"<b>net</b>"(<span class="label label-inverse">Networking</span>) をサポートしています。コロン<span class="label label-inverse">:</span> でタグを区切ることで次のように複数利用できます：<span class="label label-inverse">:tag=orm:wf:dbd</span></p>

			<h4>翻訳のお手伝い</h4> 
			<p>Go Walkerはいくつかの言語での表示をサポートしています。github にある"view"ディレクトリにある html を翻訳してpull request して頂けると幸いです。</p>

			<h4>フィードバック</h4> 
			<p>アイディア、リクエストや質問は joe2010xtmf#163.com (#は@へ置換してください)へお願いします。バグの報告は <a target="_blank" href="https://github.com/Unknwon/gowalker/issues">Github Issue Tracker</a> へお願いします。ディスカッションへの参加は <a target="_blank" href="https://groups.google.com/d/forum/gowalker">Go Walker group</a> へどうぞ。</p>

			<h4>ブックマークレット</h4>
			<p>Go Walker の <a target="_brank" href="http://ja.wikipedia.org/wiki/%E3%83%96%E3%83%83%E3%82%AF%E3%83%9E%E3%83%BC%E3%82%AF%E3%83%AC%E3%83%83%E3%83%88">ブックマークレット</a> は、 Bitbucket, Github, Launchpad, Google Project Hosting のドキュメントへ辿れます。ブックマークレットをインストールするには、次のリンクをブックマークバーへドラックしてみてください：<a  target="_blank" href="javascript:window.location='http://gowalker.org/'+encodeURIComponent(window.location)">Go Walker</a></p>
