		<title>{{.ProName}} - Go 步行者</title>
	</head>
		
	<body>
		<div class="container">
			<div class="navbar" style="margin-top: 20px">
				<div class="navbar-inner">
					<a class="brand" href="/">Go 步行者</a>
					<ul class="nav">
						<li><a href="/">首页</a></li>
						<li><a href="/index">索引</a></li>
						<li><a href="/about">关于</a></li>
					</ul>
					<form class="navbar-search pull-right" action="/">
						<input class="search-query" type="text" placeholder="搜索项目" autofocus="autofocus" name="q"></input>
					</form>
				</div>
			</div>
			{{if .IsRefresh}}
			<div class="alert alert-success">
				<button type="button" class="close" data-dismiss="alert">&times;</button><strong>  恭喜您！</strong> 您已经成功于 <i>{{.UtcTime}}</i> 刷新本项目文档！
			</div>
			{{end}}
			{{if .IsGoRepo}}
			<div class="alert alert-info">
				<button type="button" class="close" data-dismiss="alert">&times;</button><strong>友情提示：</strong> Asta谢 在 github 上发起了 <strong>Go </strong> 标准库函数 <span class="label label-info">示例</span> 项目，每个函数都有相应操作示例，您绝对不容错过！点击这里访问：<a target="_blank" href="https://github.com/astaxie/gopkg/tree/master/{{.ImportPath}}" class="label label-success">gopkg</a>.
			</div>
			{{end}}
			<div class="flat-well well-small" style="background-color: #f5f5f5">
				<a target="_blank" href="http://{{.ProPath}}"><strong>{{.ProName}}:</strong></a> <a href="/{{.ProDocPath}}">{{.ProDocPath}}</a><span class="muted">/{{.ProName}}</span>
				<span class="pull-right"><span >您是本页面的第 <b>{{.Views}}</b> 位访问者。</span><span class="muted"> | </span><a href="#_index">索引</a><span class="muted"> | </span><a href="#_files">文件</a>{{if .IsHasSubdirs}}<span class="muted"> | </span><a href="#_subdirs">目录</a></span>{{end}}
			</div>
			<h2>项目 {{.ProName}}</h2>
			<p><code>import "{{.ImportPath}}"</code></p>
			{{str2html .PkgFullIntro}}
			<h3 id="_index">索引</h3>
			<ul class="unstyled">
			{{if .IsHasConst}}<li><a href="#_constants">常量</a></li>{{end}}
			{{if .IsHasVar}}<li><a href="#_variables">变量</a></li>{{end}}
			{{with .Funcs}}{{range .}}<li><a href="#{{.Name}}">{{.Decl}}</a></li>{{end}}{{end}}
			{{range .Types}}
				{{$typeName := .Name}}
				<li><a href="#{{.Name}}">type {{.Name}}</a></li>
				{{range .Funcs}}<ul><li><a href="#{{.Name}}">{{.Decl}}</a></li></ul>{{end}}
				{{range .Methods}}<ul><li><a href="#{{$typeName}}_{{.Name}}">{{.Decl}}</a></li></ul>{{end}}
			{{end}}</ul>
			{{if .IsHasConst}}
				<h3 id="_constants">常量</h3>
				{{with .Consts}}
					{{range .}}
						<pre class="pre-x-scrollable">{{str2html .FmtDecl}}</pre>
						<p>{{str2html .Doc}}</p>
					{{end}}
				{{end}}
			{{end}}
			{{if .IsHasVar}}
				<h3 id="_variables">变量</h3>
				{{with .Vars}}
					{{range .}}
						<pre class="pre-x-scrollable">{{str2html .FmtDecl}}</pre>
						<p>{{str2html .Doc}}</p>
					{{end}}
				{{end}}
			{{end}}
			{{with .Funcs}}
				{{range .}}
					<h3 id="{{.Name}}">函数 <a target="_blank" href="{{.URL}}">{{.Name}}</a> <small><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse_{{.Name}}">查看代码</a></small></h3>
					<pre>{{str2html .FmtDecl}}</pre>
					<p>{{str2html .Doc}}</p>
	    			<div class="accordion" id="accordion">
	 					<div id="collapse_{{.Name}}" class="accordion-body collapse">
							<pre class="accordion-inner">{{str2html .FmtDecl}} {<br />{{str2html .Code}}}</pre>
						</div>
	    			</div>
				{{end}}
			{{end}}
			{{range .Types}}
				{{$typeName := .Name}}
				<h3 id="{{.Name}}">类型 <a target="_blank" href="{{.URL}}">{{.Name}}</a></h3>
				<pre class="pre-x-scrollable">{{str2html .FmtDecl}}</pre>
				<p>{{str2html .Doc}}</p>
				{{range .Funcs}}
					<h4 id="{{.Name}}">函数 <a target="_blank" href="{{.URL}}">{{.Name}}</a> <small><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse_{{.Name}}">查看代码</a></small></h4>
					<pre>{{str2html .FmtDecl}}</pre>
					<p>{{str2html .Doc}}</p>
		    		<div class="accordion" id="accordion">
	 					<div id="collapse_{{.Name}}" class="accordion-body collapse">
							<pre class="accordion-inner">{{str2html .FmtDecl}} {<br />{{str2html .Code}}}</pre>
						</div>
		   			</div>
				{{end}}
				{{range .Methods}}
					<h4 id="{{$typeName}}_{{.Name}}">方法 <a target="_blank" href="{{.URL}}">{{.Name}}</a> <small><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse_{{$typeName}}_{{.Name}}">查看代码</a></small></h4>
					<pre>{{str2html .FmtDecl}}</pre>
					<p>{{str2html .Doc}}</p>
		   			<div class="accordion" id="accordion">
		 				<div id="collapse_{{$typeName}}_{{.Name}}" class="accordion-body collapse">
							<pre class="accordion-inner">{{str2html .FmtDecl}} {<br />{{str2html .Code}}}</pre>
						</div>
		    		</div>
				{{end}}
			{{end}}
			<h3 id="_files"><a target="_blank" href="http://{{.ProPath}}">Files</a></h3>
			<p>
			{{$proPath := .ProPath}}
			{{range .Files}}
				<a target="_blank" href="http://{{$proPath}}/{{.}}">{{.}}</a>
			{{end}}
			</p>
			{{if .IsHasSubdirs}}
				<h3 id="_subdirs"><a target="_blank" href="http://{{.ProPath}}">目录</a></h3>
				<table class="table table-hover table-striped table-condensed">
					<thead>
						<tr>
							<th>项目路径</th>
							<th>简介</th>
						</tr>
					</thead>
					<tbody>
					{{$proPath := .ProPath}}
					{{range .Subdirs}}
						<tr>
							<td><a href="/{{.Path}}">{{.Path}}</a></td>
							<td>{{.Synopsis}}</td>
						</tr>
					{{end}}
					</tbody>
				</table>
			{{end}}
			<p>
			项目 <b>{{.ProName}}</b> 共计导入 <a href="/search?q=imports&pkgs={{.ImportPkgs}}">{{.ImportPkgNum}}</a> 个外部包。Go 步行者在 <i>{{.UtcTime}}</i> 使用操作系统 GOOS={{.GOOS}} 和系统类型 GOARCH={{.GOARCH}} 生成了此页面。 <a href="/refresh?q={{.ImportPath}}">刷新文档</a>.
			</p>