{{template "header_en"}}
		<title>{{.ProName}} - Go Walker</title>
	</head>

	<body id="body" style="font-family: Microsoft Yahei; font-size: 13px;">
		{{template "navbar_en"}}
		<div class="container" style="width: 1000px;">
			{{if .IsRefresh}}
			<div class="alert alert-success">
				<button type="button" class="close" data-dismiss="alert">&times;</button><strong>  Congratulations!</strong> You successfully refreshed this project documentation at <i>{{.UtcTime}}</i>!
			</div>
			{{end}}
			{{if .IsGoRepo}}
			<div class="alert alert-info">
				<button type="button" class="close" data-dismiss="alert">&times;</button><strong>Information!</strong> AstaXie launched an open source program that provides <span class="label label-info">examples</span> for every function of <strong>Go Standard Library</strong>, you shouldn't miss this great project: <a target="_blank" href="https://github.com/astaxie/gopkg/tree/master/{{.ImportPath}}" class="label label-success">gopkg</a>.
			</div>
			{{else}}
				{{template "labelmodal_en" .}}
			{{end}}
			<div id="example_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<form id="example_form" class="modal-form" action="/examples">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h3 id="myModalLabel" style="margin: 10px">Add examples.</h3>
					</div>
					<input type="hidden" name="q" value="{{.ImportPath}}"></input>	
					<div class="modal-body" style="overflow-y: visible;">
						<input id="example_box" autofocus="autofocus" class="span5" type="text" name="gist" placeholder="type Gist address"></input>
					</div>
					<div class="modal-footer">
						<button type='button' class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
						<button class="btn btn-primary" type="submit">Go!</button>
					</div>
				</form>
			</div>
			<div id="sidebar" class="span3 hide" style="margin-left: -220px; margin-top: 20px;">
				<ul class="nav nav-tabs nav-stacked affix bs-docs-sidenav">
					<li><a href="#"><i class="icon-chevron-right"></i>Top</a></li>
					{{if .IsCmd}}{{else}}<li><a href="#_index"><i class="icon-chevron-right"></i>Index</a></li>{{end}}
					{{if .IsHasConst}}<li><a href="#_constants"><i class="icon-chevron-right"></i>Constants</a></li>{{end}}
					{{if .IsHasVar}}<li><a href="#_variables"><i class="icon-chevron-right"></i>Variables</a></li>{{end}}
					<li><a href="#_files"><i class="icon-chevron-right"></i>Files</a></li>
					{{if .IsHasExams}}<li><a href="#_exams"><i class="icon-chevron-right"></i>Examples</a></li>{{end}}
					{{if .IsHasSubdirs}}<li><a href="#_subdirs"><i class="icon-chevron-right"></i>Directories</a></li>{{end}}
					<li><a href="#_bottom"><i class="icon-chevron-right"></i>Bottom</a></li>
					{{if .HasExports}}<li><a href="#search_exports" data-toggle="modal"><i class="icon-chevron-right"></i>Search Exports</a></li>{{end}}
					{{if .IsGoRepo}}
					{{else}}
						<li><a href="#label_modal" data-toggle="modal"><i class="icon-chevron-right"></i>Labels</a></li>
					{{end}}
				</ul>
			</div>
			{{if .HasExports}}
			<div id="search_exports" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<form id="search_form" class="modal-form">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h3 id="myModalLabel" style="margin: 10px">Search and Go to Exports.</h3>
					</div>
					<div class="modal-body" style="overflow-y: visible;">
						<input id="search_export_box" autofocus="autofocus" autocomplete="off" class="span5" type="text" placeholder="type or function name"  data-source="[{{str2html .ExportDataSrc}}]" data-provide="typeahead"></input>
					</div>
					<div class="modal-footer">
						<button type='button' class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
						<button class="btn btn-primary" type="submit">Go!</button>
					</div>
				</form>
			</div>
			{{end}}
			<div style="padding-left: 20px; padding-right: 20px;">
				<div class="flat-well well-small" style="background-color: #f5f5f5">
					<a title="View this project on {{.VCS}}" target="_blank" href="http://{{.ProPath}}" class="label label-info">{{.VCS}}</a> <a target="_blank" href="http://{{.ProPath}}"><strong>{{.ProName}}:</strong></a> <a href="/{{.ProDocPath}}">{{.ProDocPath}}</a><span class="muted">/{{.ProName}}</span>
					<span class="pull-right"><span >You are No.<b>{{.Views}}</b> visitor of this page.</span><span class="muted"> | </span><a href="#_index">Index</a><span class="muted"> | </span><a href="#_files">Files</a>{{if .IsHasSubdirs}}<span class="muted"> | </span><a href="#_subdirs">Directories</a></span>{{end}}
				</div>
				<h2>{{if .IsCmd}}Command{{else}}Package{{end}} {{.ProName}} 
				{{range .Labels}}<a target="_blank" href="/labels#{{.}}" class="label label-inverse">{{.}}</a> {{end}}</h2>
				{{if .IsCmd}}{{else}}
				<div style="min-height: 25px;">
					<code>import "{{.ImportPath}}"</code>
					{{if .IsHasTags}}
					<strong>Documentation Tag: </strong>
					<div class="btn-group">
					    <button class="btn dropdown-toggle" data-toggle="dropdown">{{.CurTag}} <span class="caret"></span></button>
					    <ul class="dropdown-menu">
						{{$importPath := .ImportPath}}
					    {{range .Tags}}
					    	<li><a href="/{{$importPath}}?tag={{.}}">{{.}}</a></li>
					    {{end}}
					    </ul>
				    </div>
					{{end}}
			    </div>
			    {{end}}
			    {{str2html .PkgDoc}}
				{{str2html .PkgFullIntro}}
				{{if .IsCmd}}
				{{else}}
					<h3 id="_index">Index 
					<span class="label label-{{.DocCPLabel}}">Documentation complete {{.DocCP}}</span></h3>
					<ul class="unstyled">
						{{if .IsHasConst}}<li><a href="#_constants">Constants</a></li>{{end}}
						{{if .IsHasVar}}<li><a href="#_variables">Variables</a></li>{{end}}
						{{range .Funcs}}<li><a href="#{{.Name}}">{{.Decl}}</a></li>{{end}}
						{{range .Types}}
							{{$typeName := .Name}}
							<li><a href="#{{.Name}}">type {{.Name}}</a></li>
							{{range .Funcs}}<ul><li><a href="#{{.Name}}">{{.Decl}}</a></li></ul>{{end}}
							{{range .Methods}}<ul><li><a href="#{{$typeName}}_{{.Name}}">{{.Decl}}</a></li></ul>{{end}}
						{{end}}
					</ul>
					{{if .IsHasExams}}
					<h3 id="_exams">Examples</h3>
					<ul class="unstyled">
						{{range .Exams}}<li><a href="#_ex_btn_{{.Name}}">{{.Name}}</a></li>{{end}}
					</ul>
					{{end}}
				{{end}}
				{{if .IsHasConst}}
					<h3 id="_constants">Constants</h3>
					{{with .Consts}}
						{{range .}}
							<pre class="pre-x-scrollable">{{str2html .FmtDecl}}</pre>
							<p>{{str2html .Doc}}</p>
						{{end}}
					{{end}}
				{{end}}
				{{if .IsHasVar}}
					<h3 id="_variables">Variables</h3>
					{{with .Vars}}
						{{range .}}
							<pre class="pre-x-scrollable">{{str2html .FmtDecl}}</pre>
							<p>{{str2html .Doc}}</p>
						{{end}}
					{{end}}
				{{end}}
				{{range .Funcs}}
					<h3 id="{{.Name}}">func <a target="_blank" href="{{.URL}}">{{.Name}}</a> <small><a class="accordion-toggle" data-toggle="collapse" href="#collapse_{{.Name}}">View Code</a></small></h3>
					<pre>{{str2html .FmtDecl}}</pre>
					<p>{{str2html .Doc}}</p>	
	    			<div class="accordion">
	 					<div id="collapse_{{.Name}}" class="accordion-body collapse">
							<pre class="accordion-inner">{{str2html .FmtDecl}} {<br />{{str2html .Code}}}</pre>
						</div>
	    			</div>
	    			{{template "example_en" .}}
				{{end}}
				{{range .Types}}
					{{$typeName := .Name}}
					<h3 id="{{.Name}}">type <a target="_blank" href="{{.URL}}">{{.Name}}</a></h3>
					<pre class="pre-x-scrollable">{{str2html .FmtDecl}}</pre>
					<p>{{str2html .Doc}}</p>
	    			{{template "example_en" .}}
					{{range .Funcs}}
						<h4 id="{{.Name}}">func <a target="_blank" href="{{.URL}}">{{.Name}}</a> <small><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse_{{.Name}}">View Code</a></small></h4>
						<pre>{{str2html .FmtDecl}}</pre>
						<p>{{str2html .Doc}}</p>
			    		<div class="accordion" id="accordion">
			 				<div id="collapse_{{.Name}}" class="accordion-body collapse">
								<pre class="accordion-inner">{{str2html .FmtDecl}} {<br />{{str2html .Code}}}</pre>
							</div>
		    			</div>
	    				{{template "example_en" .}}
					{{end}}
					{{range .Methods}}
						<h4 id="{{$typeName}}_{{.Name}}">func <a target="_blank" href="{{.URL}}">{{.Name}}</a> <small><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse_{{$typeName}}_{{.Name}}">View Code</a></small></h4>
						<pre>{{str2html .FmtDecl}}</pre>
						<p>{{str2html .Doc}}</p>
			   			<div class="accordion" id="accordion">
			 				<div id="collapse_{{$typeName}}_{{.Name}}" class="accordion-body collapse">
								<pre class="accordion-inner">{{str2html .FmtDecl}} {<br />{{str2html .Code}}}</pre>
							</div>
			   			</div>
	    				{{template "example_en" .}}
					{{end}}
				{{end}}
				<h3 id="_files"><a target="_blank" href="http://{{.ProPath}}">Files</a></h3>
				<p>
				{{$proPath := .ProPath}}
				{{range .Files}}
					<a target="_blank" href="http://{{$proPath}}/{{.}}">{{.}}</a>
				{{end}}
				</p>
				{{if .IsHasSubdirs}}
					<h3 id="_subdirs"><a target="_blank" href="http://{{.ProPath}}">Directories</a></h3>
					<table class="table table-hover table-striped table-condensed">
						<thead>
							<tr>
								<th>Import Path</th>
								<th>Synopsis</th>
							</tr>
						</thead>
						<tbody>
						{{$proPath := .ProPath}}
						{{range .Subdirs}}
							<tr>
								<td><a href="/{{.Path}}">{{.Path}}</a></td>
								<td>{{.Synopsis}}</td>
							</tr>
						{{end}}
						</tbody>
					</table>
				{{end}}
				<p>
				Package <b>{{.ProName}}</b> imports <a href="/search?q=imports&pkgs={{.ImportPkgs}}">{{.ImportPkgNum}} packages</a>{{if .IsImported}} and imported by <a href="/search?q=imported&pkgs={{.ImportPid}}">{{.ImportedNum}} packages</a>{{end}}. Go Walker generated this page at <i>{{.UtcTime}}</i>. <a class="btn" href="/refresh?q={{.ImportPath}}">Refresh</a>
				</p>
			</div>
		</div>
		{{template "footer_en" .}}
	</body>
</html>

{{define "example_en"}}
	    			{{if .IsHasExam}}
	    			{{range .Exams}}
	    			<div class="accordion">
	    				<div class="accordion-group">
	    					<div class="accordion-heading">
	    						<a id="_ex_btn_{{.Name}}" class="accordion-toggle collapsed" data-toggle="collapse" href="#_ex_{{.Name}}">Example({{.Name}})</a>
	    					</div>
	    					<div id="_ex_{{.Name}}" class="accordion-body collapse">
		    					<div class="accordion-inner">
		    					<p>Code:
		    					</p><pre class="pre-x-scrollable">{{.Code}}</pre>
		    					{{if .IsHasOutput}}<p>Output:</p><pre class="pre-x-scrollable">{{.Output}}</pre>{{end}}
		    					</div>
	    					</div>
	    				</div>
	    			</div>
	    			{{end}}
	    			{{end}}
{{end}}