		<title>{{.ProName}} - Go Walker</title>
	</head>
		
	<body>
		<div class="container">
			{{template "navbar_ja"}}
			{{if .IsRefresh}}
			<div class="alert alert-success">
				<button type="button" class="close" data-dismiss="alert">&times;</button><strong>  Congratulations!</strong> このプロジェクトのドキュメントは <i>{{.UtcTime}}</i> に更新されました。
			</div>
			{{end}}
			{{if .IsGoRepo}}
			<div class="alert alert-info">
				<button type="button" class="close" data-dismiss="alert">&times;</button><strong>Information!</strong> AstaXieさんは <strong>Go Standard Library</strong> の <span class="label label-info">examples</span> を提供しています。<a target="_blank" href="https://github.com/astaxie/gopkg/tree/master/{{.ImportPath}}" class="label label-success">gopkg</a> を見逃さないように！
			</div>
			{{end}}
			<div id ="navbar" class="hide">
				<ul class="nav nav-list bs-docs-sidenav affix" style="left: 170px; top: 65px;">
					<li><a href="#"><i class="icon-chevron-right"></i>Top</a></li>
					<li><a href="#_index"><i class="icon-chevron-right"></i>Index</a></li>
					<li><a href="#_files"><i class="icon-chevron-right"></i>Files</a></li>
					{{if .IsHasSubdirs}}<li><a href="#_subdirs"><i class="icon-chevron-right"></i>Directories</a></li>{{end}}
					<li><a href="#_bottom"><i class="icon-chevron-right"></i>Bottom</a></li>
					{{if .HasExports}}<li><a href="#search_exports" data-toggle="modal"><i class="icon-chevron-right"></i>Search Exports</a></li>{{end}}		
					{{if .IsGoRepo}}
					{{else}}
						<li><a href="#tags_modal" data-toggle="modal"><i class="icon-chevron-right"></i>Tags</a></li>
					{{end}}
				</ul>
			</div>
			{{if .HasExports}}
			<div id="search_exports" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<form id="search_form" class="modal-form">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h3 id="myModalLabel" style="margin: 10px">Search and Go to Exports.</h3>
					</div>
					<div class="modal-body" style="overflow-y: visible;">
						<input id="search_export_box" autofocus="autofocus" autocomplete="off" class="span5" type="text" placeholder="type or function name"  data-source="[{{str2html .ExportDataSrc}}]" data-provide="typeahead"></input>
					</div>
					<div class="modal-footer">
						<button type='button' lass="btn" data-dismiss="modal" aria-hidden="true">Close</button>
						<button class="btn btn-primary" type="submit">Go!</button>
					</div>
				</form>
			</div>
			{{end}}
			{{if .IsGoRepo}}
			{{else}}
				{{template "tagmodal_ja"}}
			{{end}}
			<div class="flat-well well-small" style="background-color: #f5f5f5">
				<a title="See this project on {{.VCS}}" target="_blank" href="http://{{.ProPath}}" class="label label-info">{{.VCS}}</a> <a target="_blank" href="http://{{.ProPath}}"><strong>{{.ProName}}:</strong></a> <a href="/{{.ProDocPath}}">{{.ProDocPath}}</a><span class="muted">/{{.ProName}}</span>
				<span class="pull-right"><span >このページは<b>{{.Views}}</b>人見ました</span><span class="muted"> | </span><a href="#_index">Index</a><span class="muted"> | </span><a href="#_files">Files</a>{{if .IsHasSubdirs}}<span class="muted"> | </span><a href="#_subdirs">Directories</a></span>{{end}}
			</div>
			<h2>package {{.ProName}} 
			{{range .Tags}}<a target="_blank" href="/tags#{{.}}" class="label label-inverse">{{.}}</a> {{end}}</h2>
			<p><code>import "{{.ImportPath}}"</code></p>
			{{str2html .PkgFullIntro}}
			<h3 id="_index">Index</h3>
			<ul class="unstyled">
			{{if .IsHasConst}}<li><a href="#_constants">Constants</a></li>{{end}}
			{{if .IsHasVar}}<li><a href="#_variables">Variables</a></li>{{end}}
			{{range .Funcs}}<li><a href="#{{.Name}}">{{.Decl}}</a></li>{{end}}
			{{range .Types}}
				{{$typeName := .Name}}
				<li><a href="#{{.Name}}">type {{.Name}}</a></li>
				{{range .Funcs}}<ul><li><a href="#{{.Name}}">{{.Decl}}</a></li></ul>{{end}}
				{{range .Methods}}<ul><li><a href="#{{$typeName}}_{{.Name}}">{{.Decl}}</a></li></ul>{{end}}
			{{end}}</ul>
			{{if .IsHasConst}}
				<h3 id="_constants">Constants</h3>
				{{with .Consts}}
					{{range .}}
						<pre class="pre-x-scrollable">{{str2html .FmtDecl}}</pre>
						<p>{{str2html .Doc}}</p>
					{{end}}
				{{end}}
			{{end}}
			{{if .IsHasVar}}
				<h3 id="_variables">Variables</h3>
				{{with .Vars}}
					{{range .}}
						<pre class="pre-x-scrollable">{{str2html .FmtDecl}}</pre>
						<p>{{str2html .Doc}}</p>
					{{end}}
				{{end}}
			{{end}}
			{{range .Funcs}}
				<h3 id="{{.Name}}">func <a target="_blank" href="{{.URL}}">{{.Name}}</a> <small><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse_{{.Name}}">コードを見る</a></small></h3>
				<pre>{{str2html .FmtDecl}}</pre>
				<p>{{str2html .Doc}}</p>	
    			<div class="accordion" id="accordion">
 					<div id="collapse_{{.Name}}" class="accordion-body collapse">
						<pre class="accordion-inner">{{str2html .FmtDecl}} {<br />{{str2html .Code}}}</pre>
					</div>
    			</div>
			{{end}}
			{{range .Types}}
				{{$typeName := .Name}}
				<h3 id="{{.Name}}">type <a target="_blank" href="{{.URL}}">{{.Name}}</a></h3>
				<pre class="pre-x-scrollable">{{str2html .FmtDecl}}</pre>
				<p>{{str2html .Doc}}</p>
				{{range .Funcs}}
					<h4 id="{{.Name}}">func <a target="_blank" href="{{.URL}}">{{.Name}}</a> <small><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse_{{.Name}}">コードを見る</a></small></h4>
					<pre>{{str2html .FmtDecl}}</pre>
					<p>{{str2html .Doc}}</p>
		    		<div class="accordion" id="accordion">
		 				<div id="collapse_{{.Name}}" class="accordion-body collapse">
							<pre class="accordion-inner">{{str2html .FmtDecl}} {<br />{{str2html .Code}}}</pre>
						</div>
	    			</div>
				{{end}}
				{{range .Methods}}
					<h4 id="{{$typeName}}_{{.Name}}">func <a target="_blank" href="{{.URL}}">{{.Name}}</a> <small><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse_{{$typeName}}_{{.Name}}">コードを見る</a></small></h4>
					<pre>{{str2html .FmtDecl}}</pre>
					<p>{{str2html .Doc}}</p>
		   			<div class="accordion" id="accordion">
		 				<div id="collapse_{{$typeName}}_{{.Name}}" class="accordion-body collapse">
							<pre class="accordion-inner">{{str2html .FmtDecl}} {<br />{{str2html .Code}}}</pre>
						</div>
		   			</div>
				{{end}}
			{{end}}
			<h3 id="_files"><a target="_blank" href="http://{{.ProPath}}">Files</a></h3>
			<p>
			{{$proPath := .ProPath}}
			{{range .Files}}
				<a target="_blank" href="http://{{$proPath}}/{{.}}">{{.}}</a>
			{{end}}
			</p>
			{{if .IsHasSubdirs}}
				<h3 id="_subdirs"><a target="_blank" href="http://{{.ProPath}}">Directories</a></h3>
				<table class="table table-hover table-striped table-condensed">
					<thead>
						<tr>
							<th>Import Path</th>
							<th>Synopsis</th>
						</tr>
					</thead>
					<tbody>
					{{$proPath := .ProPath}}
					{{range .Subdirs}}
						<tr>
							<td><a href="/{{.Path}}">{{.Path}}</a></td>
							<td>{{.Synopsis}}</td>
						</tr>
					{{end}}
					</tbody>
				</table>
			{{end}}
			<p>
			<b>{{.ProName}}</b> パッケージは、<a href="/search?q=imports&pkgs={{.ImportPkgs}}">{{.ImportPkgNum}} パッケージ</a>を import して{{if .IsImported}}、<a href="/search?q=imported&pkgs={{.ImportPid}}">{{.ImportedNum}} パッケージ</a> から import されて{{end}}います。Go Walker はこのページを <i>{{.UtcTime}}</i> に{{.GOOS}}-{{.GOARCH}}で生成しました。 <a href="/refresh?q={{.ImportPath}}">Refresh</a>.
			</p>
