{{template "header_en"}}
		<title>{{.ProName}} - Go Walker</title>
	</head>

	<body id="body" style="font-family: Microsoft Yahei; font-size: 13px;">
		{{template "navbar_zh"}}
		<div class="container" style="width: 1000px;">
			{{if .IsRefresh}}
			<div class="alert alert-success">
				<button type="button" class="close" data-dismiss="alert">&times;</button><strong>  恭喜您！</strong> 您已经成功于 <i>{{.UtcTime}}</i> 刷新本项目文档！
			</div>
			{{end}}
			{{if .IsGoRepo}}
			<div class="alert alert-info">
				<button type="button" class="close" data-dismiss="alert">&times;</button><strong>友情提示：</strong> Asta谢 在 github 上发起了 <strong>Go </strong> 标准库函数 <span class="label label-info">示例</span> 项目，每个函数都有相应操作示例，您绝对不容错过！点击这里访问：<a target="_blank" href="https://github.com/astaxie/gopkg/tree/master/{{.ImportPath}}" class="label label-success">gopkg</a>.
			</div>
			{{else}}
				{{template "labelmodal_zh" .}}
			{{end}}
			<div id="example_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<form id="example_form" class="modal-form" action="/examples">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h3 id="myModalLabel" style="margin: 10px">增加示例.</h3>
					</div>
					<input type="hidden" name="q" value="{{.ImportPath}}"></input>	
					<div class="modal-body" style="overflow-y: visible;">
						<input id="example_box" autofocus="autofocus" class="span5" type="text" name="gist" placeholder="请输入 Gist 地址"></input>
					</div>
					<div class="modal-footer">
						<button type='button' class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
						<button class="btn btn-primary" type="submit">增加</button>
					</div>
				</form>
			</div>
			<div id="sidebar" class="span3 hide" style="margin-left: -220px; margin-top: 20px;">
				<ul class="nav nav-tabs nav-stacked affix bs-docs-sidenav">
					<li><a href="#"><i class="icon-chevron-right"></i>顶部</a></li>
					{{if .IsCmd}}{{else}}<li><a href="#_index"><i class="icon-chevron-right"></i>索引</a></li>{{end}}
					{{if .IsHasConst}}<li><a href="#_constants"><i class="icon-chevron-right"></i>常量</a></li>{{end}}
					{{if .IsHasVar}}<li><a href="#_variables"><i class="icon-chevron-right"></i>变量</a></li>{{end}}
					{{if .IsHasExams}}<li><a href="#_exams"><i class="icon-chevron-right"></i>示例</a></li>{{end}}
					<li><a href="#example_modal" data-toggle="modal"><i class="icon-chevron-right"></i>增加示例</a></li>
					{{if .IsHasSubdirs}}<li><a href="#_subdirs"><i class="icon-chevron-right"></i>目录</a></li>{{end}}
					<li><a href="#_bottom"><i class="icon-chevron-right"></i>底部</a></li>
					{{if .HasExports}}<li><a href="#search_exports" data-toggle="modal"><i class="icon-chevron-right"></i>搜索导出对象</a></li>{{end}}
					{{if .IsGoRepo}}
					{{else}}
						<li><a href="#label_modal" data-toggle="modal"><i class="icon-chevron-right"></i>项目标签</a></li>
					{{end}}
				</ul>
			</div>
			{{if .HasExports}}
			<div id="search_exports" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<form id="search_form" class="modal-form">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h3 id="myModalLabel" style="margin: 10px">搜索导出对象.</h3>
					</div>
					<div class="modal-body" style="overflow-y: visible;">
						<input id="search_export_box" autofocus="autofocus" autocomplete="off" class="span5" type="text" placeholder="请输入类型或函数名"  data-source="[{{str2html .ExportDataSrc}}]" data-provide="typeahead"></input>
					</div>
					<div class="modal-footer">
						<button type='button' class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
						<button class="btn btn-primary" type="submit">跳转</button>
					</div>
				</form>
			</div>
			{{end}}
			<div style="padding-left: 20px; padding-right: 20px;">
				<div class="flat-well well-small" style="background-color: #f5f5f5">
					<a title="在 {{.VCS}} 上查看该项目" target="_blank" href="http://{{.ProPath}}" class="label label-info">{{.VCS}}</a> <a target="_blank" href="http://{{.ProPath}}"><strong>{{.ProName}}:</strong></a> <a href="/{{.ProDocPath}}">{{.ProDocPath}}</a><span class="muted">/{{.ProName}}</span>
					<span class="pull-right"><span ><span >您是本页面的第 <b>{{.Views}}</b> 位访问者。</span><span class="muted"> | </span><a href="#_index">索引</a><span class="muted"> | </span><a href="#_files">文件</a>{{if .IsHasSubdirs}}<span class="muted"> | </span><a href="#_subdirs">目录</a></span>{{end}}
				</div>
				<h2>{{if .IsCmd}}命令行{{else}}项目{{end}} {{.ProName}} 
				{{range .Labels}}<a target="_blank" href="/labels#{{.}}" class="label label-inverse">{{.}}</a> {{end}}</h2>
				{{if .IsCmd}}{{else}}
				<div style="min-height: 25px;">
					<code>import "{{.ImportPath}}"</code>
					{{if .IsHasTags}}
					<strong>项目 Tags：</strong>
					<div class="btn-group">
					    <button class="btn dropdown-toggle" data-toggle="dropdown">{{.CurTag}} <span class="caret"></span></button>
					    <ul class="dropdown-menu">
						{{$importPath := .ImportPath}}
					    {{range .Tags}}
					    	<li><a href="/{{$importPath}}?tag={{.}}">{{.}}</a></li>
					    {{end}}
					    </ul>
				    </div>
					{{end}}
			    </div>
			    {{end}}
			    {{str2html .PkgDoc}}
				{{str2html .PkgFullIntro}}
				{{if .IsCmd}}
				{{else}}
					<h3 id="_index">索引 
					<span class="label label-{{.DocCPLabel}}">文档完成率：{{.DocCP}}</span></h3>
					<ul class="unstyled">
						{{if .IsHasConst}}<li><a href="#_constants">常量</a></li>{{end}}
						{{if .IsHasVar}}<li><a href="#_variables">变量</a></li>{{end}}
						{{range .Funcs}}<li><a href="#{{.Name}}">{{.Decl}}</a></li>{{end}}
						{{range .Types}}
							{{$typeName := .Name}}
							<li><a href="#{{.Name}}">type {{.Name}}</a></li>
							{{range .Funcs}}<ul><li><a href="#{{.Name}}">{{.Decl}}</a></li></ul>{{end}}
							{{range .Methods}}<ul><li><a href="#{{$typeName}}_{{.Name}}">{{.Decl}}</a></li></ul>{{end}}
						{{end}}
					</ul>
					{{if .IsHasExams}}
					<h3 id="_exams">示例</h3>
					<ul class="unstyled">
						{{range .Exams}}<li><a href="#_ex_btn_{{.Name}}">{{.Name}}</a></li>{{end}}
					</ul>
					{{end}}
				{{end}}
				{{if .IsHasConst}}
					<h3 id="_constants">常量</h3>
					{{with .Consts}}
						{{range .}}
							<pre class="pre-x-scrollable">{{str2html .FmtDecl}}</pre>
							<p>{{str2html .Doc}}</p>
						{{end}}
					{{end}}
				{{end}}
				{{if .IsHasVar}}
					<h3 id="_variables">变量</h3>
					{{with .Vars}}
						{{range .}}
							<pre class="pre-x-scrollable">{{str2html .FmtDecl}}</pre>
							<p>{{str2html .Doc}}</p>
						{{end}}
					{{end}}
				{{end}}
				{{range .Funcs}}
					<h3 id="{{.Name}}">函数 <a target="_blank" href="{{.URL}}">{{.Name}}</a> <small><a class="accordion-toggle" data-toggle="collapse" href="#collapse_{{.Name}}">查看代码</a></small></h3>
					<pre>{{str2html .FmtDecl}}</pre>
					<p>{{str2html .Doc}}</p>	
	    			<div class="accordion">
	 					<div id="collapse_{{.Name}}" class="accordion-body collapse">
							<pre class="accordion-inner">{{str2html .FmtDecl}} {<br />{{str2html .Code}}}</pre>
						</div>
	    			</div>
	    			{{template "example_zh" .}}
				{{end}}
				{{range .Types}}
					{{$typeName := .Name}}
					<h3 id="{{.Name}}">类型 <a target="_blank" href="{{.URL}}">{{.Name}}</a></h3>
					<pre class="pre-x-scrollable">{{str2html .FmtDecl}}</pre>
					<p>{{str2html .Doc}}</p>
	    			{{template "example_en" .}}
					{{range .Funcs}}
						<h4 id="{{.Name}}">函数 <a target="_blank" href="{{.URL}}">{{.Name}}</a> <small><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse_{{.Name}}">查看代码</a></small></h4>
						<pre>{{str2html .FmtDecl}}</pre>
						<p>{{str2html .Doc}}</p>
			    		<div class="accordion" id="accordion">
			 				<div id="collapse_{{.Name}}" class="accordion-body collapse">
								<pre class="accordion-inner">{{str2html .FmtDecl}} {<br />{{str2html .Code}}}</pre>
							</div>
		    			</div>
	    				{{template "example_zh" .}}
					{{end}}
					{{range .Methods}}
						<h4 id="{{$typeName}}_{{.Name}}">方法 <a target="_blank" href="{{.URL}}">{{.Name}}</a> <small><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse_{{$typeName}}_{{.Name}}">查看代码</a></small></h4>
						<pre>{{str2html .FmtDecl}}</pre>
						<p>{{str2html .Doc}}</p>
			   			<div class="accordion" id="accordion">
			 				<div id="collapse_{{$typeName}}_{{.Name}}" class="accordion-body collapse">
								<pre class="accordion-inner">{{str2html .FmtDecl}} {<br />{{str2html .Code}}}</pre>
							</div>
			   			</div>
	    				{{template "example_zh" .}}
					{{end}}
				{{end}}
				<h3 id="_files"><a target="_blank" href="http://{{.ProPath}}">文件</a></h3>
				<p>
				{{$proPath := .ProPath}}
				{{$pkgTag := .PkgTag}}
				{{range .Files}}
					<a target="_blank" href="http://{{$proPath}}/{{.}}{{$pkgTag}}">{{.}}</a>
				{{end}}
				</p>
				{{if .IsHasSubdirs}}
					<h3 id="_subdirs"><a target="_blank" href="http://{{.ProPath}}">目录</a></h3>
					<table class="table table-hover table-striped table-condensed">
						<thead>
							<tr>
								<th>项目路径</th>
								<th>简介</th>
							</tr>
						</thead>
						<tbody>
						{{range .Subdirs}}
							<tr>
								<td><a href="/{{.Path}}">{{.Path}}</a></td>
								<td>{{.Synopsis}}</td>
							</tr>
						{{end}}
						</tbody>
					</table>
				{{end}}
				<p>
				项目 <b>{{.ProName}}</b> 共计导入 <a href="/search?q=imports&pkgs={{.ImportPkgs}}">{{.ImportPkgNum}} 个外部包</a>{{if .IsImported}}，并且有 <a href="/search?q=imported&pkgs={{.ImportPid}}">{{.ImportedNum}} 引用了该项目</a>{{end}}。 Go 步行者在 <i>{{.UtcTime}}</i> 生成了此页面。 <a class="btn" href="/refresh?q={{.ImportPath}}">刷新文档</a>
				</p>
			</div>
		</div>
		{{template "footer_zh" .}}
	</body>
</html>

{{define "example_zh"}}
	    			{{if .IsHasExam}}
	    			{{range .Exams}}
	    			<div class="accordion">
	    				<div class="accordion-group">
	    					<div class="accordion-heading">
	    						<a id="_ex_btn_{{.Name}}" class="accordion-toggle collapsed" data-toggle="collapse" href="#_ex_{{.Name}}">示例（{{.Name}}）</a>
	    					</div>
	    					<div id="_ex_{{.Name}}" class="accordion-body collapse">
		    					<div class="accordion-inner">
		    					<p>代码：
		    					</p><pre class="pre-x-scrollable">{{.Code}}</pre>
		    					{{if .IsHasOutput}}<p>输出：</p><pre class="pre-x-scrollable">{{.Output}}</pre>{{end}}
		    					</div>
	    					</div>
	    				</div>
	    			</div>
	    			{{end}}
	    			{{end}}
{{end}}