{{template "header_en"}}
		<title>Go 步行者 - 示例</title>
	</head>

	<body id="body" style="padding-top: 60px; font-family: Microsoft Yahei; font-size: 13px;">
		{{template "navbar_zh" .}}
		<div class="container" style="width: 1000px;">
			<h1>Examples</h1>
			{{if .IsShowExam}}
			<p>示例总数：{{.ExamNum}}.</p>
			<table class="table table-condensed">
				<thead>
					<tr>
						<th>项目路径</th>
						<th>Gist</th>
					</tr>
				</thead>
				<tbody>
					{{range .AllExams}}
					<tr>
						<td><a href="/{{.Path}}">{{.Path}}</a></td>
						<td><a target="_blank" href="https://{{.Gist}}">{{.Gist}}</a></td>
					</tr>
					{{end}}
				</tbody>
			</table>
			{{else}}
			<p>解析示例时发生错误：<b>{{.ErrMsg}}</b></p>
			<p>单击 <a href="/{{.ImportPath}}">此处</a> 返回文档页面。</p>
			{{end}}
		</div>
		{{template "footer_zh" .}}
	</body>
</html>