{{template "header_en"}}
		<title>Go Walker - Examples</title>
	</head>

	<body id="body" style="padding-top: 60px; font-family: Microsoft Yahei; font-size: 13px;">
		{{template "navbar_en" .}}
		<div class="container" style="width: 1000px;">
			<h1>Examples</h1>
			{{if .IsShowExam}}
			<p>Number of total examples: {{.ExamNum}}.</p>
			<table class="table table-condensed">
				<thead>
					<tr>
						<th>Import Path</th>
						<th>Gist</th>
					</tr>
				</thead>
				<tbody>
					{{range .AllExams}}
					<tr>
						<td><a href="/{{.Path}}">{{.Path}}</a></td>
						<td>{{.Gist}}</td>
					</tr>
					{{end}}
				</tbody>
			</table>
			{{else}}
			<p>Fail to parse Gist because error: <b>{{.ErrMsg}}</b></p>
			<p>Click <a href="/{{.ImportPath}}">here</a> to back to documentation page.</p>
			{{end}}
		</div>
		{{template "footer_en" .}}
	</body>
</html>