<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="shortcut icon" href="/static/img/favicon.ico" />
		<meta name="author" content="Unknown"/>
		 <!-- Stylesheets -->
		<link href="/static/css/bootstrap.min.css" rel="stylesheet" />
		<link href="/static/css/todc-bootstrap.css" rel="stylesheet" />
		<title>Go Walker</title>
	</head>

	<body style="padding-top: 60px;">
		<div class="navbar navbar-fixed-top" >
			<div class="navbar-inner">
				<div id="navbar">
					<a class="brand" href="/">Go Walker</a>
					<ul class="nav">
						<li {{if .IsHome}}class="active"{{end}}><a href="/">Home</a></li>
						<li {{if .IsIndex}}class="active"{{end}}><a href="/index">Index</a></li>
						<li {{if .IsTags}}class="active"{{end}}><a href="/tags">Tags</a></li>
						<li {{if .IsExamples}}class="active"{{end}}><a href="/examples">Examples</a></li>
						<li {{if .IsAbout}}class="active"{{end}}><a href="/about">About</a></li>
					</ul>
					<form class="navbar-search pull-right" action="/">
						<input id="navbar_search_box" class="search-query" type="text" placeholder="Search" name="q"></input>
					</form>
				</div>
			</div>
		</div>
		<!--div class="alert">
			<button type="button" class="close" data-dismiss="alert">&times;</button><strong>Warning!</strong> This is the <span class="label label-important">Beta</span> version of Go Walker, errors may occur at any time.
		</div-->
		<div class="container" style="width: 1100px;">
			<div id="home_content" class="row" style="margin-left: -50px;">
	    		<div class="page-header" style="margin-left: 20px;">
					<h2 style="margin-top: 0">Search for Go projects. <small>Find a cup of source code.</small></h2>
					<form action="/">
						<div class="input-append">
							<input autocomplete="off" class="span6" type="text" placeholder="Type import path to add or keywords to search" value="{{.Keyword}}" name="q" data-source="[{{str2html .DataSrc}}]" data-items="8" data-provide="typeahead"></input>
							<button class="btn" type="submit"><i class="icon-search"></i> Go!</button>
						</div>
					</form>
	    		</div>
	    		<div id="homeleft" class="span6 homeleft">
					<div>
						<h4>What is this?</h4>
						<p>Go Walker is a web server that generates <a target="_blank" href="http://golang.org/">Go</a> projects API documentation with source code on the fly from projects on <b><a target="_blank" href="https://bitbucket.org/">Bitbucket</a></b>, <b><a target="_blank" href="https://github.com/">Github</a></b>, <b><a target="_blank" href="http://code.google.com/">Google Code</a></b>, <b><a target="_blank" href="https://launchpad.net/">Launchpad</a></b>, <b><a target="_blank" href="http://git.oschina.net/">Git @ OSC</a></b> and <b><a target="_blank" href="https://code.csdn.net/">CSDN Code</a></b>.</p>
						<p>Main features including <b>Code View</b>, <b>Link Jump</b>, etc.</p>
						<p class="text-success">Please read the  <a href="/about">About Page</a> for information about adding projects to Go Walker and more.</p>
					</div>
		    		<div>
						<h4>What are other people looking at.</h4>
		    		</div>
				</div>
	    		<div id="homeright" class="span6 homeright">
	    			<div>
	    				<h4>Announcement <small><a href="/announcements">More.</a></small></h4>
	    				<p>Test announcement.</p>
	    				<button class="btn btn-primary">Learn more</button>
	    			</div>
	    			<div>
	    				<h4>Popular Examples</h4>
	    			</div>
	    			<div>
						<h4>Popular Projects</h4>
	    			</div>
	    			<div>
						<h4>More Projects</h4>
						<ul class="unstyled">
							<li><a href="/index">Index</a></li>
							<li><a href="/search?q=gorepo">Standard Library</a></li>
							<li><a target="_blank" href="https://code.google.com/p/go-wiki/wiki/Projects">Projects @ go-wiki</a></li>
						</ul>
	    			</div>
	    		</div>
    		</div>
		</div>
		<footer>
			<div class="container" style="padding-top: 10px; width: 1150px;">
				<div id="footer" class="span6" style="width: 405px;">
					<p><strong>Copyright © 2013 Go Walker</strong></p>
					<p>Website built by <a target="_blank" href="https://github.com/Unknwon"><i class="icon-user"></i> @Unknown</a>. Powered by <a target="_blank" href="https://github.com/astaxie/beego"><i class="icon-bold"></i>eego</a>, <a target="_blank" href="https://github.com/coocood/qbs">Qbs</a>, <a target="_blank" href="https://github.com/mattn/go-sqlite3">go-sqlite3</a>.</p>
					<p>Based on <a href="http://twitter.github.io/bootstrap/">Bootstrap</a>. Icons from <a href="http://glyphicons.com/">Glyphicons</a>.</p>
					<p>Send us <a href="mailto:joe2010xtmf#163.com"><i class="icon-envelope"></i> Feedback</a> or submit <a target="_blank" href="https://github.com/Unknwon/gowalker/issues"><i class="icon-tasks"></i> Website Issues</a>.</p>
					<p><strong>Language:</strong></p>
				</div>
				<div class="span6" style="margin-top: 25px;">
					<div style="text-align: center;">
						<img src="/static/img/qiniu.png">
					</div>
					<div style="text-align: center;margin-top: 15px;">
						<img src="/static/img/Golang.png">
						<img src="/static/img/bee.gif" style="width: 58px;">
						<img src="/static/img/linode.png">
					</div>
				</div>
			</div>
		</footer>
		<script type="text/javascript" src="/static/js/jquery.js"></script>
		<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
		<script type='text/javascript' src='/static/js/site.js'></script>
	</body>
</html>

