		<ul class="nav">
			<li class="active"><a href="/">Home</a></li>
			<li><a href="/-/index">Index</a></li>
			<li><a href="/-/about">About</a></li>
		</ul>
		<form class="navbar-search pull-right" action="/">
			<input class="search-query" type="text" placeholder="Search" name="q"></input>
		</form>
	</div>
</div>
<div class="flat-well well-large"> 
    <h2 style="margin-top: 0">Search for Go projects.</h2>
	<form>
		<div class="input-append">
			<input class="span6" type="text" placeholder="Import path or keywords" value="{{.keyword}}" autofocus="autofocus" name="q"></input>
			<button class="btn" type="submit">Go!</button>
		</div>
	</form>
</div>
<h4>What is this?</h4>
<p>Go Walker generates <a href="http://golang.org/">Go</a> package documentation on the fly from packages on Bitbucket, Github, Google Project Hosting and Launchpad. It's idea and UI are based on <a href="http://godoc.org/">GoDoc</a> and provides much more features.</p>
<p>Please read the  <a href="/-/about">About Page</a> for information about adding packages to Go Walker and more.</p>
<div class="row">
	<div class="span6">
		<h4>Popular Packages</h4>
		<ul class="unstyled">
			<li><a href="/bitbucket.org/jaybill/sawsij/framework">bitbucket.org/jaybill/sawsij/framework</a></li>
			<li><a href="/bitbucket.org/jaybill/sawsij/framework">bitbucket.org/jaybill/sawsij/framework</a></li>
			<li><a href="/bitbucket.org/jaybill/sawsij/framework">bitbucket.org/jaybill/sawsij/framework</a></li>
			<li><a href="/bitbucket.org/jaybill/sawsij/framework">bitbucket.org/jaybill/sawsij/framework</a></li>
			<li><a href="/bitbucket.org/jaybill/sawsij/framework">bitbucket.org/jaybill/sawsij/framework</a></li>
			<li><a href="/bitbucket.org/jaybill/sawsij/framework">bitbucket.org/jaybill/sawsij/framework</a></li>
			<li><a href="/bitbucket.org/jaybill/sawsij/framework">bitbucket.org/jaybill/sawsij/framework</a></li>
			<li><a href="/bitbucket.org/jaybill/sawsij/framework">bitbucket.org/jaybill/sawsij/framework</a></li>
			<li><a href="/bitbucket.org/jaybill/sawsij/framework">bitbucket.org/jaybill/sawsij/framework</a></li>
			<li><a href="/bitbucket.org/jaybill/sawsij/framework">bitbucket.org/jaybill/sawsij/framework</a></li>
			<li><a href="/bitbucket.org/jaybill/sawsij/framework">bitbucket.org/jaybill/sawsij/framework</a></li>
			<li><a href="/bitbucket.org/jaybill/sawsij/framework">bitbucket.org/jaybill/sawsij/framework</a></li>
		</ul>
	</div>
	<div class="span6">
		<h4>More Packages</h4>
		<ul class="unstyled">
			<li><a href="/-/index">Index</a></li>
			<li><a href="/-/go">Standard Packages</a></li>
			<li><a href="https://code.google.com/p/go-wiki/wiki/Projects">Projects @ go-wiki</a></li>
			<li><a href="http://godoc.org/">GoDoc</a></li>
		</ul>
	</div>
</div>