		<title>Go Walker - Index</title>
	</head>

	<body>
		<div class="container">
			{{template "navbar_en"}}
			<h1>Index</h1>
			<p>Number of total projects: {{.ProNum}}.</p>
			<div class="row">
				<div class="span6 homeright">
					<h4>Top 26-64 Popular Projects</h4>
					<ul class="unstyled">
						{{range .PopPros}}
						<li><span class="badge">{{.Views}}</span> <a title="{{.Synopsis}}" href="/{{.Path}}">{{.Path}}</a></li>
						{{end}}
					</ul>
				</div>
				<div class="span6 homeleft">
					<h4>Most Imported Projects</h4>
					<table id="rectable" class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>Import Path</th>
								<th>Imported Num</th>
							</tr>
						</thead>
						<tbody>
						{{range .ImportedPros}}
							<tr>
								<td><a title="{{.Synopsis}}" href="/{{.Path}}">{{.Path}}</a></td>
								<td><a href="/search?q=imported&pkgs={{.ImportPid}}">{{.ImportedNum}} Packages</a></td>
							</tr>
						{{end}}
						</tbody>
					</table>
				</div>
			</div>