		<title>Go Walker - Index</title>
	</head>

	<body>
		<div class="container">
			<div class="navbar" style="margin-top: 20px">
				<div class="navbar-inner">
					<a class="brand" href="/">Go Walker</a>
					<ul class="nav">
						<li><a href="/">Home</a></li>
						<li class="active"><a href="/index">Index</a></li>
						<li><a href="/about">About</a></li>
					</ul>
					<form class="navbar-search pull-right" action="/search">
						<input class="search-query" type="text" placeholder="Search" name="q"></input>
					</form>
				</div>
			</div>
			<h1>Index</h1>
			<p>The following is a list of '<a target="_blank" href="http://golang.org/cmd/go/#hdr-Download_and_install_packages_and_dependencies">go get</a>' able packages viewed previously on godoc.org. A  <a href="/search?q=gorepo">list of Go standard packages</a>  is also available.</p>
			<table class="table table-hover table-striped table-condensed">
				<thead>
					<tr>
						<th>Import Path</th>
						<th>Synopsis</th>
					</tr>
				</thead>
				<tbody>
					{{range .AllPros}}
					<tr>
						<td><a href="/{{.Path}}">{{.Path}}</a></td>
						<td>{{.Synopsis}}</td>
					</tr>
					{{end}}
				</tbody>
			</table>
			<p>Number of projects: {{.ProNum}}.</p>
			<div class="container">
				<div class="flat-well well-small" style="background-color: #f5f5f5">
					<a target="_blank" href="https://github.com/Unknwon"><i class="icon-user"></i> @Unknown</a>
					<span class="muted">|</span>
					<a href="mailto:joe2010xtmf@163.com"><i class="icon-envelope"></i> Feedback</a>
					<span class="muted">|</span>
					<a target="_blank" href="https://github.com/Unknwon/gowalker/issues"><i class="icon-tasks"></i> Website Issues</a>
					<span class="muted">|</span>
					    <div class="btn-group dropup">
						    <a class="btn dropdown-toggle" data-toggle="dropdown">{{.CurLang}} <span class="caret"></span></a>
						    <ul class="dropdown-menu">
						    	{{range .RestLangs}}
						    	<li><a href="/index?lang={{.Lang}}">{{.Name}}</a></li>
						    	{{end}}
						    </ul>
					    </div>
					<span class="pull-right"><a class="btn" href="#">Back to top</a></span>
				</div>
			</div>
		</div>