		<title>Go 步行者 - 索引</title>
	</head>
		
	<body>
		<div class="container">
			<div class="navbar" style="margin-top: 20px">
				<div class="navbar-inner">
					<a class="brand" href="/?lang={{.Lang}}">Go 步行者</a>
					<ul class="nav">
						<li><a href="/?lang={{.Lang}}">首页</a></li>
						<li class="active"><a href="/index?lang={{.Lang}}">索引</a></li>
						<li><a href="/about?lang={{.Lang}}">关于</a></li>
					</ul>
					<form class="navbar-search pull-right" action="/search">
						<input type="hidden" name="lang" value="{{.Lang}}" />
						<input class="search-query" type="text" placeholder="搜索项目" name="q"></input>
					</form>
				</div>
			</div>
			<h1>索引</h1>
			<p>以下是可以使用命令 '<a target="_blank" href="http://golang.org/cmd/go/#hdr-Download_and_install_packages_and_dependencies">go get</a>' 进行快速安装的项目列表。你也可以到  <a href="/search?lang={{.Lang}}&q=gorepo">Go 标准库</a>  查看有关标准库的文档。<!--Please use http://api.godoc.org/packages instead of scraping this page.--></p>
			<table class="table table-hover table-striped table-condensed">
				<thead>
					<tr>
						<th>项目路径</th>
						<th>简介</th>
					</tr>
				</thead>
				<tbody>
					{{$lang := .Lang}}
					{{range .AllPros}}
					<tr>
						<td><a href="/{{.Path}}?lang={{$lang}}">{{.Path}}</a></td>
						<td>{{.Synopsis}}</td>
					</tr>
					{{end}}
				</tbody>
			</table>
			<p>当前收录项目总数：{{.ProNum}}。</p>
			<div class="container">
				<div class="flat-well well-small" style="background-color: #f5f5f5">
					<a target="_blank" href="https://github.com/Unknwon"><i class="icon-user"></i> @Unknown</a>
					<span class="muted">|</span>
					<a href="mailto:joe2010xtmf@163.com"><i class="icon-envelope"></i> 反馈</a>
					<span class="muted">|</span>
					<a target="_blank" href="https://github.com/Unknwon/gowalker/issues"><i class="icon-tasks"></i> 问题提交</a>
					<span class="muted">|</span>
					    <div class="btn-group dropup ">
						    <a class="btn dropdown-toggle" data-toggle="dropdown">{{.CurLang}} <span class="caret"></span></a>
						    <ul class="dropdown-menu">
						    	{{range .RestLangs}}
						    	<li><a href="/index?lang={{.Lang}}">{{.Name}}</a></li>
						    	{{end}}
						    </ul>
					    </div>
					<span class="pull-right"><a class="btn" href="#">返回顶部</a></span>
				</div>
			</div>
		</div>
		