<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="shortcut icon" herf="/static/favicon.ico" />
		<meta name="author" content="Unknown"/>

		 <!-- Stylesheets -->
		<link href="/static/css/bootstrap.css" rel="stylesheet" />
		<title>Go Walker</title>
	</head>

	<body>
		<div class="container">
			<div class="navbar navbar-inverse">
				<div class="navbar-inner">
					<a class="brand" href="/">Go Walker</a>
					{{.LayoutContent}}
		</div>
		<div class="container">
			<div class="flat-well well-small">
				<a href="https://github.com/Unknwon">@Unknown</a>
				<span class="muted">|</span>
				<a href="mailto:joe2010xtmf@163.com">Feedback</a>
				<span class="muted">|</span>
				<a href="https://github.com/Unknwon/gowalker/issues">Website Issues</a>
				<span class="pull-right"><a href="#">Back to top</a></span>
			</div>
		</div>
	</body>
</html>