		<title>Go 步行者 - 刷新</title>
	</head>
		
	<body>
		<div class="container">
			<div class="navbar" style="margin-top: 20px">
				<div class="navbar-inner">
					<a class="brand" href="/">Go 步行者</a>
					<ul class="nav">
						<li><a href="/">首页</a></li>
						<li><a href="/index">索引</a></li>
						<li><a href="/about">关于</a></li>
					</ul>
					<form class="navbar-search pull-right" action="/">
						<input class="search-query" type="text" placeholder="搜索项目" autofocus="autofocus" name="q"></input>
					</form>
				</div>
			</div>
			<h1>刷新</h1>
			<p>对不起，由于一些原因的限制，您无法在 <i>{{.LimitTime}}</i>（间隔 5 分钟）之前刷新该项目。</p>
			<p>单击 <a href="/{{.Path}}">此处</a> 返回刷新前页面。</p>