		<title>Go Walker - Refresh</title>
	</head>
		
	<body>
		<div class="container">
			<div class="navbar" style="margin-top: 20px">
				<div class="navbar-inner">
					<a class="brand" href="/">Go Walker</a>
					<ul class="nav">
						<li><a href="/">Home</a></li>
						<li><a href="/index">Index</a></li>
						<li><a href="/about">About</a></li>
					</ul>
					<form class="navbar-search pull-right" action="/">
						<input class="search-query" type="text" placeholder="Search" autofocus="autofocus"  name="q"></input>
					</form>
				</div>
			</div>
			<h1>Refresh</h1>
			<p>Sorry, for some reasons, you cannot refresh documentation of same package until <i>{{.LimitTime}}</i>(5 minutes).</p>
			<p>Click <a href="/{{.Path}}">Here</a> to return previous page.</p>