{{template "header_en"}}
		<title>Go Walker - Refresh</title>
	</head>
		
	<body id="body" style="padding-top: 60px; font-family: Microsoft Yahei; font-size: 13px;">
		{{template "navbar_en" .}}
		<div class="container" style="width: 1000px;">
			<div id="main_content" class="row">
				<div style="margin-left: 20px;">
	                {{template "alert_en" .}}
					<h1>Refresh</h1>
					<p>
						Sorry, for some reasons, you cannot refresh documentation of same package until <i>{{.LimitTime}}</i>(5 minutes).
					</p>

					<p>
						Click <a href="/{{.Path}}">Here</a> to return previous page.
					</p>
				</div>
			</div>
		</div>
		{{template "footer_en" .}}
	</body>
</html>