		<title>Go Walker - Search</title>
	</head>
		
	<body>
		<div class="container">
			{{template "navbar_zh"}}
			<form action="/">
				<div class="input-append">
					<input autocomplete="off" class="span6" type="text" placeholder="只能通过关键字搜索" value="{{.Keyword}}" name="q" data-source="[{{str2html .DataSrc}}]" data-items="8" data-provide="typeahead"></input>
					<button class="btn" type="submit"><i class="icon-search"></i> 手气不错</button>
				</div>
			</form>
			{{if .IsFindPro}}
			<table class="table table-condensed">
				<thead>
					<tr>
						<th>项目路径</th>
						<th>简介</th>
					</tr>
				</thead>
				<tbody>
					{{range .AllPros}}
					<tr>
						<td><a href="/{{.Path}}">{{.Path}}</a></td>
						<td>{{.Synopsis}}</td>
					</tr>
					{{end}}
				</tbody>
			</table>
			{{else}}
			<p>未搜索到包含关键字 <b>{{.Keyword}}</b> 的项目。</p>
			{{end}}