{{template "header_en"}}
		<title>Go Walker - Search</title>
	</head>
		
	<body id="body" style="padding-top: 60px; font-family: Microsoft Yahei; font-size: 13px;">
		{{template "navbar_en" .}}
		<div class="container" style="width: 1000px;">
			<div id="main_content" class="row">
				<div style="margin-left: 20px;">
	                {{template "alert_en" .}}
					<h1>Search</h1>
					<form action="/">
						<div class="input-append">
							<input autocomplete="off" class="span6" type="text" placeholder="Type import path to add or keywords to search" value="{{.Keyword}}" name="q" data-source="[{{str2html .DataSrc}}]" data-items="8" data-provide="typeahead">
							<button class="btn" type="submit">Go!</button>
						</div>
					</form>

					{{if .IsFindPro}}
					<table class="table table-condensed table-hover">
						<thead>
							<tr>
								<th>Import Path</th>
								<th>Synopsis</th>
								<th>Rank</th>
							</tr>
						</thead>

						<tbody>
							{{range .Results}}
							<tr>
								<td><a href="/{{.Path}}">{{.Path}}</a></td>
								<td>{{.Synopsis}}</td>
								<td><span class="label label-info">{{.Rank}}</span></td>
							</tr>
							{{end}}
						</tbody>
					</table>
					{{else}}
					<p>No projects found.</p>
					{{end}}
				</div>
			</div>
		</div>
		{{template "footer_en" .}}
	</body>
</html>
