		<title>Go 步行者 - 标签</title>
	</head>

		<body>
		<div class="container">
			{{template "navbar_zh"}}
			<h1>标签</h1>
			<div class="row">
				<div class="span4">
					<h4 id="Web Frame.">Web 框架</h4>
					<ul class="unstyled">
						{{range .WFPros}}
						<li><span class="badge">{{.Views}}</span> <a title="{{.Synopsis}}" href="/{{.Path}}">{{.Path}}</a></li>
						{{end}}
					</ul>
				</div>
				<div class="span4">
					<h4 id="ORM">对象关系映射</h4>
					<ul class="unstyled">
						{{range .ORMPros}}
						<li><span class="badge">{{.Views}}</span> <a title="{{.Synopsis}}" href="/{{.Path}}">{{.Path}}</a></li>
						{{end}}
					</ul>
				</div>
				<div class="span4">
					<h4 id="DB Driver">数据库驱动</h4>
					<ul class="unstyled">
						{{range .DBDPros}}
						<li><span class="badge">{{.Views}}</span> <a title="{{.Synopsis}}" href="/{{.Path}}">{{.Path}}</a></li>
						{{end}}
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="span4">
					<h4 id="GUI">图形用户界面</h4>
					<ul class="unstyled">
						{{range .GUIPros}}
						<li><span class="badge">{{.Views}}</span> <a title="{{.Synopsis}}" href="/{{.Path}}">{{.Path}}</a></li>
						{{end}}
					</ul>
				</div>
				<div class="span4">
					<h4 id="Networking">计算机网络</h4>
					<ul class="unstyled">
						{{range .NETPros}}
						<li><span class="badge">{{.Views}}</span> <a title="{{.Synopsis}}" href="/{{.Path}}">{{.Path}}</a></li>
						{{end}}
					</ul>
				</div>
				<div class="span4">
					<h4 id="Toolkit">工具包</h4>
					<ul class="unstyled">
						{{range .TOOLPros}}
						<li><span class="badge">{{.Views}}</span> <a title="{{.Synopsis}}" href="/{{.Path}}">{{.Path}}</a></li>
						{{end}}
					</ul>
				</div>
			</div>