@charset "utf-8";
/*-- public --*/
html{_background-image:url(about:blank);_background-attachment:fixed;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,input,textarea,p,blockquote,th,td{margin:0;padding:0}
body{background:url(http://mat1.gtimg.com/app/opent/images/public/body.gif) repeat-x #F9F9F9;font-family:"Microsoft Yahei",Tahoma,Arial;}
table{border-collapse: collapse;border-spacing: 0;}
.wrapper{width:960px;margin:0 auto;}
/*icon*/
ol, ul, li{list-style: none outside none;}
h3{font-size:14px;}
em{font-style:normal;}
a{text-decoration:none;color:#3A8DC9}
img{border:0;vertical-align:middle;}
input,label{vertical-align:middle;}
body{height:100%;font:12px/1.75 "Microsoft Yahei",Tahoma,Arial;color:#333;}
.clearfix:after {clear:both;content:' ';display:block;font-size:0;height:0;visibility:hidden;}
.clearfix{clear: both;display: block;}
.actioninfo{width:958px;border:1px solid #ECEDE8;border-top:0;background:#fff;margin:0 auto;padding:90px 0;text-align:center;min-height:400px;_ height:400px;font-size:18px;text-shadow:1px 1px 0 #eee;}
.actioninfo img{margin-right:10px;}
.gray{color:gray;}
#header, #footer{width:960px;}
/*-- header --*/
.headWrap{width:110%;height:35px;color:#C9C9C9;font-size:14px;}
.headWrap a{color:#c9c9c9}
.headInside{height:35px;margin: 0 auto;position:relative;z-index:2;}
.headInside h1 {width:179px;float:left;height:35px;margin-right:80px;}
.headInside h1 a{display:block;height:34px;background:url(http://mat1.gtimg.com/app/opent/images/public/logo.gif) left center  no-repeat;text-indent:-9999em;overflow:hidden;_cursor:pointer}
.topNav{height:35px;text-align:center;}
.topNav li{height:35px;float:left;}
.topNav a{font-size:14px;display:block;_display:inline;zoom:1;height:12px;height:35px;line-height:35px;overflow:hidden;padding:0 10px;}
.topNav a:hover,.topNav a.active,.topNav a.active:hover{background:#000;color:#fff;}
.userNav{text-align:right;margin-top:-35px;height:35px;line-height:35px;}

.appSearch{height:20px;position:absolute;right:0;top:7px;border-radius:3px 0 0 3px;width:180px;}
.appSearch form{position:relative;width:auto;height:auto;padding-left:0;background:none}
.appSearch form:after{content:'.';clear:both;display:block;height:0;visibility:hidden;line-height:0}
.appSearch form{zoom:1}
.appSearch .inputTxt{padding:0 0 0 5px;border:0;border-radius:3px 0 0 3px;outline:none;width:149px;height:20px;float:left;margin:0;color:#ccc;background:#878787;}
.appSearch .inputTxt:focus{background:#fff;color:#000;}
.appSearch .inputBtn{width:20px;height:20px;margin:0;float:left;text-indent:-9999em;border:0;cursor:pointer;background:url(http://mat1.gtimg.com/app/opent/images/public/nav_search.png) -152px -80px no-repeat;}
.appSearch label{cursor:text;color:#999;background:none;margin:0;position:absolute;left:3px;top:0;height:20px;line-height:20px;line-height:20px\9;_line-height:23px;width:148px;overflow:hidden}
.appSearch label{line-height:21px\0}
.appSearch.active .inputTxt{color:#333}
.appSearch.active .inputBtn{background-position:-152px -100px}
/*-- footer --*/
#footer{clear:both;color:#516e81;font-size:12px;height:49px;line-height:20px;margin:25px auto 60px;text-align:center;text-shadow:0 1px 0 #FFFFFF;zoom:1;* display:inline;width:100%;}
#footer a{margin:0 5px;}
/*-- content --*/
#content{border:1px solid #ecede8;margin:0 auto;background:#fff;}/*  |xGv00|61221a287e3db56de4b49ce6afb3ff33 */