body {
	margin: 0;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background: #FCFCFC url(../img/bg.jpg) repeat;
	line-height: 22px;
}
.container {
	padding: 0 15%;
}
#navbar {
	margin: 0;
	border-radius: 0;
}
.body {
	margin-bottom: 50px;
	padding: 25px 15px;
}
small {
	font-size: 65%;
}
h1 small {
	font-weight: 400;
	line-height: 1;
	color: #999;
}
#home-search-form {
	width: 80%;
	margin-bottom: 30px;
}
.grid-1-4 {
	width: 33.33333333333333%;
}
.grid-3-4 {
	width: 65%;
	padding-right: 1.66666666666666%;
}
.inline {
	display: inline;
}
.left {
	float: left;
}
a {
	color: #428BCA;
	text-decoration: none;
}
a:hover, a:focus {
    color: #2A6496;
    text-decoration: underline;
}
.text-success {
	color: #3c763d;
}
.pre-footer {
	clear: both;
	height: 30px;
}
footer {
	font-size: 14px;
	line-height: 10px;
	padding: 1px 15px;
    background: url('../img/noise_lines.png') repeat scroll 0% 0% transparent;
}
.backToTop {   
	display: none;   
	width: 18px; 
	line-height: 1.2; 
	padding: 5px 0;    
	background-color: #000;   
	color: #fff;    
	font-size: 12px; 
	text-align: center;  
	position: fixed;  
	_position: absolute;  
	right: 10px;    
	bottom: 100px;    
	_bottom: "auto";  
	cursor: pointer;  
    bottom: 20px;
    right: 20px;
    height: 38px;
    width: 38px;
    background: url("../img/top.png") no-repeat scroll 0% 0% transparent;
}       