<!-- <div class="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{if eq .Lang "en-US"}}
    <strong>Attention!</strong> 
    Go Walker Server will be updated during <span class="label label-important">2013.9.3 - 2013.9.4</span> and you may NOT able to visit, thanks for your visiting!
    {{else if eq .Lang "zh-CN"}}
    <strong>特别通知</strong> 
    Go 步行者服务器将于 <span class="label label-important">2013.9.3 - 2013.9.4</span> 期间进行升级，届时您将无法访问，感谢您的支持！
    {{end}}
</div> -->

{{if .IsBeta}}
<div class="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{if eq .Lang "en-US"}}
    <strong>Warning!</strong> 
    Go Walker Server is running under <span class="label label-important">Beta</span> version, if errors occur please submit on <a target="_blank" href="https://github.com/Unknwon/gowalker/issues?state=open">GitHub</a> (old data will be imported in few days).
    {{else if eq .Lang "zh-CN"}}
    <strong>注意事项</strong> 
    当前运行的 Go Walker 服务器为 <span class="label label-important">测试版</span>，如果发生错误请提交至 <a target="_blank" href="https://github.com/Unknwon/gowalker/issues?state=open">GitHub</a>（旧版本的数据将会在几天内导入）.
    {{end}}
</div>
{{end}}

{{if .IsHasError}}
<div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{if eq .Lang "en-US"}}
    <strong>ERROR</strong> 
    Your previous operation returns: {{.ErrMsg}}.
    {{else if eq .Lang "zh-CN"}}
    <strong>错误！</strong> 
    您的前次操作返回信息：{{.ErrMsg}}.
    {{end}}
</div>
{{end}}