<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" href="/img/favicon.ico" />
<meta name="author" content="Unknown" />
<meta name="description" content="{{if not .PkgDesc}}{{i18n .Lang "Go online project API documentation, docuemnts, videos"}}{{else}}{{.PkgDesc}}{{end}}" />
<meta name="keywords" content="{{i18n .Lang "Go, golang, API documentation, video, document"}}">

 <!-- Stylesheets -->
<link href="/css/bootstrap.min.css" rel="stylesheet" />
<link href="/css/todc-bootstrap.min.css" rel="stylesheet" />
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<link href="/css/link.css" rel="stylesheet" />
<link href="/css/gwserver.css" rel="stylesheet" />

<script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/js/typeahead.min.js"></script>