<div id="navbar_frame" class="navbar navbar-default navbar-fixed-top">
	<div class="container" style="padding-left: 30px;">
		<a class="navbar-brand" href="/">
			Go Walker
			<sub class="version">{{.AppVer}}</sub>
		</a>
		<ul class="nav navbar-nav">
			<li {{if .IsHome}}class="active"{{end}}>
				<a href="/">{{i18n .Lang "Home"}}</a>
			</li>
			
			<li {{if .IsIndex}}class="active"{{end}}>
				<a href="/index">{{i18n .Lang "Index"}}</a>
			</li>
			
			<li {{if .IsLabels}}class="active"{{end}}>
				<a href="/label">{{i18n .Lang "Label"}}</a>
			</li>
			
			<li {{if .IsFuncs}}class="active"{{end}}>
				<a href="/function">{{i18n .Lang "Function"}}</a>
			</li>
			
			<li {{if .IsExamples}}class="active"{{end}}>
				<a href="/example">{{i18n .Lang "Example"}}</a>
			</li>

<!--
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">
					{{i18n .Lang "More"}}.
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="http://ctw.gowalker.org">{{i18n .Lang "Cross the Wall"}}</a></li>
					<li><a href="http://res.gowalker.org">{{i18n .Lang "Resources"}}</a></li>
					<li><a href="http://gowalker.org/api">{{i18n .Lang "API service"}}</a></li>
					<li class="divider"></li>
					<li><a href="http://golangnews.com">Golang News</a></li>
					<li><a href="http://gotalks.io">Go Talks</a></li>
				</ul>
			</li>
-->
			
			<li {{if .IsAbout}}class="active"{{end}}>
				<a href="/about">{{i18n .Lang "About"}}</a>
			</li>
		</ul>
<!--
		<div class="navbar-right">
			<ul class="nav navbar-nav">
				<li>
					<a href="">
						{{if .IsLogin}}
						<button class="btn" style="margin-top: -5px;" onclick="return redirToLogin('?op=exit');">{{i18n .Lang "Log out"}}</button>
						{{else}}
						<button class="btn" style="margin-top: -5px;" onclick="return redirToLogin('');">{{i18n .Lang "Log in"}}</button>
						{{end}}

						<script>
							// if (document.body.clientWidth <= 1000) {
						 //        window.location.href = "http://m.gowalker.org";
						 //    }
							function redirToLogin(params) {
								window.location.href = "/login" + params
								return false;
							}
						</script>
					</a>
				</li>
			</ul>
		</div>
-->

		<div class="navbar-right">
			<form  class="navbar-form form-inline" action="/search">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="{{i18n .Lang "Search"}}" name="q">
				</div>
			</form>
		</div>
	</div>
</div>