{{template "header_en"}}
		<title>{{.ProName}} - Go Walker</title>
	</head>

	<body id="body" style="font-family: Microsoft Yahei; font-size: 13px;">
		<span id="pid" class="hide">{{.Pid}}</span>
		{{template "navbar_en" .}}
		<div class="container" style="width: 1000px;">
			<div id="main_content" class="row">
				<div style="margin-left: 20px;">
	                {{template "alert_en" .}}
					{{if .IsRefresh}}
					<div class="alert alert-success">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<strong>Congratulations!</strong>
						You successfully refreshed this project documentation at <i>{{.UtcTime}}</i>!
					</div>
					{{end}}

					{{if .IsGoRepo}}
					<div class="alert alert-info">
						<button type="button" class="close" data-dismiss="alert">&times;
						</button>
						<strong>Information!</strong>
						AstaXie launched an open source program that provides <span class="label label-info">examples</span> for every function of <strong>Go Standard Library</strong>, you shouldn't miss this great project: <a target="_blank" href="https://github.com/astaxie/gopkg/tree/master/{{.ImportPath}}" class="label label-success">gopkg</a>.
					</div>
					{{else}}
					{{template "labelmodal_en" .}}
					{{end}}

					{{template "exammodal_en" .}}

					<div id="sidebar" class="span3 hide" style="margin-left: -220px; margin-top: 20px;">
						<ul class="nav nav-tabs nav-stacked affix bs-docs-sidenav">
							<li>
								<a href="#"><i class="icon-chevron-right"></i>Top</a>
							</li>
							
							{{if .IsHasExports}}
							<li>
								<a href="#_index"><i class="icon-chevron-right"></i>Index</a>
							</li>
							{{end}}
							
							{{if .IsHasConst}}
							<li>
								<a href="#_constants"><i class="icon-chevron-right"></i>Constants</a>
							</li>
							{{end}}

							{{if .IsHasVar}}
							<li>
								<a href="#_variables"><i class="icon-chevron-right"></i>Variables</a>
							</li>
							{{end}}
							
							{{if .IsHasExams}}
							<li>
								<a href="#_exams"><i class="icon-chevron-right"></i>Examples</a>
							</li>
							{{end}}

							{{if .IsCmd}}
							{{else}}
							<li>
								<a href="#example_modal" data-toggle="modal"><i class="icon-chevron-right"></i>Add examples</a>
							</li>
							{{end}}
							
							{{if .IsHasSubdirs}}
							<li>
								<a href="#_subdirs"><i class="icon-chevron-right"></i>Directories</a>
							</li>
							{{end}}
							
							<li>
								<a href="#_bottom"><i class="icon-chevron-right"></i>Bottom</a>
							</li>
							
							{{if .IsHasExports}}
							<li>
								<a href="#search_exports" data-toggle="modal"><i class="icon-chevron-right"></i>Search Exports</a>
							</li>
							{{end}}
							
							{{if .IsGoRepo}}
							{{else}}
							<li>
								<a href="#label_modal" data-toggle="modal"><i class="icon-chevron-right"></i>Labels</a>
							</li>
							{{end}}
						</ul>
					</div>

					<div>
						<div class="flat-well well-small" style="background-color: #f5f5f5">
							<a title="View this project on {{.VCS}}" target="_blank" href="http://{{.ProPath}}" class="label label-info">{{.VCS}}</a> 
							
							<a target="_blank" href="http://{{.ProPath}}">
								<strong>{{.ProName}}:</strong>
							</a> 

							<a href="/{{.ProDocPath}}">{{.ProDocPath}}</a><span class="muted">/{{.ProName}}</span>
							<span class="pull-right">
								<span>You are No.<b>{{.Views}}</b> visitor of this page.</span>
								<span class="muted"> | </span>
								<a href="#_index">Index</a>
								
								{{if .IsHasFiles}}
								<span class="muted"> | </span>
								<a href="#_files">Files</a>
								{{end}}
								
								{{if .IsHasSubdirs}}
								<span class="muted"> | </span>
								<a href="#_subdirs">Directories</a>
								{{end}}
							</span>
						</div>

						<h2>
							{{if .IsCmd}}
							Command
							{{else}}
							{{if .IsHasFiles}}
							Package
							{{else}}
							Project
							{{end}}
							{{end}}

							{{.ProName}} 

							<span class="label label-inverse">Rank: {{.Rank}}</span> 

							{{range .Labels}}
							<a target="_blank" href="/labels#{{.}}" class="label label-inverse">{{.}}</a> 
							{{end}}
						</h2>

						{{if .IsCmd}}
						{{else}}
						{{if .IsHasFiles}}
						<div style="min-height: 25px;">
							<code>import "{{.ImportPath}}"</code>
							
							{{if .IsHasTags}}
							<strong>Documentation Tag: </strong>
							<div class="btn-group">
							    <button class="btn dropdown-toggle" data-toggle="dropdown">{{.CurTag}} <span class="caret"></span></button>
							    <ul class="dropdown-menu">
								{{$importPath := .ImportPath}}
							    	{{range .Tags}}
							    	<li><a href="/{{$importPath}}?tag={{.}}">{{.}}</a></li>
							    	{{end}}
							    </ul>
						    </div>
							{{end}}
						</div>
						{{end}}
						{{end}}

						{{if .IsHasReadme}}
						<div id="readme" style="display:none; padding: 3px; border:1px solid #4F4F4F;">{{str2html .PkgDoc}}</div>
						{{end}}
						
						<div id="markdown" class="markdown">
							<script type="text/javascript" src="{{.DocJS}}"></script>
						</div>
						
						<p>
							{{if .IsHasFiles}}
							Package <b>{{.ProName}}</b> imports 
							{{if .IsHasImports}}
							<a href="/search?q=imports&pkgs={{.ImportPkgs}}">{{.ImportPkgNum}} packages</a>
							{{else}}
							0 packages
							{{end}}

							{{if .IsImported}} 
							and imported by <a href="/search?q=imported&pkgs={{.ImportPid}}">{{.ImportedNum}} packages</a>
							{{end}}.
							{{end}}

							Go Walker generated this page <i>{{.TimeSince}}</i>. <a class="btn" href="/refresh?q={{.ImportPath}}">Refresh</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		{{template "footer_en" .}}
	</body>
</html>

{{define "example_en"}}
<div class="accordion">
	<div class="accordion-group">
		<div class="accordion-heading">
			<a id="_ex_btn_{{.Name}}" class="accordion-toggle collapsed" data-toggle="collapse" href="#_ex_{{.Name}}">Example({{.Name}})</a>
		</div>

		<div id="_ex_{{.Name}}" class="accordion-body collapse">
			<div class="accordion-inner">
			<p>Code:</p>
			<pre class="pre-x-scrollable">{{str2html .Code}}</pre>
			{{if .IsHasOutput}}<p>Output:</p><pre class="pre-x-scrollable">{{.Output}}</pre>{{end}}
			</div>
		</div>
	</div>
</div>
{{end}}
