{% extends "base/base.html" %}
{% block body %}
<div class="ui stackable very relaxed page grid">
	<div class="sixteen wide aligned centered column">
		<div class="ui segment">
			<div class="ui breadcrumb">
			  <a class="section" href="/{{ParentPath}}">{{ParentPath}}</a>
			  <div class="divider"> / </div>
			  <div class="active section">{{ProjectName}}</div>
			</div>
		</div>

		{% if IsHasReadme %}
		<div id="readme" class="readme"><script type="text/javascript" src="/{{ReadmePath}}?={{Timestamp}}"></script></div>
		<br>	
		{% endif %}

		<div id="markdown" class="markdown">
			{% for doc in DocJS %}
			<script type="text/javascript" src="/{{doc}}?={{Timestamp}}"></script>
			{% endfor %}

			<h3 id="_subdirs">
				<a target="_blank" href="http{{Secure}}://{{ViewDirPath}}">{{Tr(Lang, "docs.directories")}}</a>
			</h3>

			{% if Subdirs|length > 0 %}
			<table class="ui very basic table">
				<thead>
					<tr>
						<th>{{Tr(Lang, "docs.path")}}</th>
						<th>{{Tr(Lang, "docs.synopsis")}}</th>
					</tr>
				</thead>

				<tbody>
					{% for dir in Subdirs %}
					<tr>
						<td><a href="/{{dir.ImportPath}}">{{dir.Name}}</a></td>
						<td>{{dir.Synopsis}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% endif %}
		</div>

	</div>
</div>
{% endblock %}