{% extends "base/base.html" %}
{% block body %}
<div class="ui stackable very relaxed page grid">
	<div class="sixteen wide aligned centered column">
		<div class="ui segment">
			<div class="ui breadcrumb">
			  <a class="section" href="/{{ParentPath}}">{{ParentPath}}</a>
			  <div class="divider"> / </div>
			  <div class="active section">{{ProjectName}}</div>
			</div>
		</div>

		{% if IsHasReadme %}
		<div id="readme" class="readme"><script type="text/javascript" src="/{{ReadmePath}}?={{Timestamp}}"></script></div>
		<br>	
		{% endif %}

		<div id="markdown" class="markdown">
			{% for doc in DocJS %}
			<script type="text/javascript" src="/{{doc}}?={{Timestamp}}"></script>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}